@using NewZapures_V2.Models
@{
    ViewBag.Title = "Fee Master";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var lstDepart = (List<AddDepartment>)ViewBag.Department;
    var feeTypes = (List<Dropdown>)ViewBag.feeType;
    var feeDataList = (List<FeeMaster>)ViewBag.feeDataList;



}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

<link href="~/Content/select2/css/select2.css" rel="stylesheet" />
<style type="text/css">

    .table thead {
        background-color: #646d91 !important;
    }

    .table th {
        color: #ffffff !important;
    }

    .fsc {
        background: #6441A5;
        background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
        background: linear-gradient(to left, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsc h4 {
            color: white !important;
        }

    .locationBTN {
        color: white !important;
        background: #f953c6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #b91d73, #f953c6); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .btnPrev {
        color: white !important;
        background: #f953c6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #b91d73, #f953c6); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        text-transform: uppercase;
    }

    .btnNext {
        color: white !important;
        background: #00B4DB; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0083B0, #00B4DB); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        text-transform: uppercase;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">NOC</li>
                    <li class="breadcrumb-item">Master</li>
                    <li class="breadcrumb-item active">Fee Master</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewBag.Title</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header fsc">
                <h4 class="mt-0 header-title float-left">Fee Master</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Select Fee Model</label>
                        <div class="col-md-12" style="display: flex;gap: 80px;">
                            <div class="form-check-inline my-1">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio8" name="customRadio" class="custom-control-input" value="basic">
                                    <label class="custom-control-label" for="customRadio8" style="font-weight: 600;font-size: 14px;">Basic Fee</label>
                                </div>
                            </div>
                            <div class="form-check-inline my-1">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio9" name="customRadio" class="custom-control-input" value="late">
                                    <label class="custom-control-label" for="customRadio9" style="font-weight: 600;font-size: 14px;">Late Fee</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Select Start Date</label>
                        <input type="date" class="form-control" name="dtInsertStrDt" value="" id="dtInsertStrDt" required />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Select End Date</label>
                        <input type="date" class="form-control" name="dtInsertEndDt" value="" id="dtInsertEndDt" disabled required />
                    </div>

                </div>
                <div class="row">


                    <div class="form-group col-lg-3">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Select Department</label>
                        <div>
                            <select class="singleselect" id="ddldept">
                                <option value="0">Select Department</option>

                                @{
                                    if (lstDepart != null)
                                    {
                                        foreach (var item in lstDepart)
                                        {
                                            <option value=@item.DepartmentID>@item.DepartmentName</option>
                                        }
                                    }
                                }


                            </select>
                        </div>
                    </div>

                    <div class="form-group col-lg-3">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Select Application Type</label>
                        <div>
                            <select class="singleselect" id="ddlNOC">
                                @*<option value="0">Select NOC</option>
                                    <option value="n1">NOC 1</option>
                                    <option value="n2">NOC 2</option>*@
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-lg-3">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Select Form Name</label>
                        <div>
                            <select class="singleselect" id="ddlNOCDetails">
                                @*<option value="0">Select NOC</option>
                                    <option value="n1">NOC 1</option>
                                    <option value="n2">NOC 2</option>*@
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-lg-3">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Select Fee Type</label>
                        <div>
                            <select class="singleselect" id="ddlFeeType">
                                <option value="0">Select Fee Type</option>
                                @{
                                    if (feeTypes != null)
                                    {
                                        foreach (var item in feeTypes)
                                        {
                                            <option value=@item.Id>@item.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="form-group col-lg-4" id="divboys">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">For Boys</label>
                        <div>
                            <input class="form-control col-sm-12" type="text" oninput="numberOnly(this.id)" autocomplete="off" id="txtboysFee">
                        </div>
                    </div>

                    <div class="form-group col-lg-4" id="divgirls">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">For Girls</label>
                        <div>
                            <input class="form-control col-sm-12" type="text" oninput="numberOnly(this.id)" autocomplete="off" id="txtgirlsFee">
                        </div>
                    </div>

                    <div class="form-group col-lg-4" id="divcoEdu">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">For Co-Education</label>
                        <div>
                            <input class="form-control col-sm-12" type="text" oninput="numberOnly(this.id)" autocomplete="off" id="txtCoEDUFee">
                        </div>
                    </div>
                    <div class="form-group col-lg-3" id="divcutoff" style="display:none">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Cut Off</label>
                        <div>
                            <input class="form-control col-sm-12" type="text" oninput="numberOnly(this.id)" autocomplete="off" id="txtcutOff">
                        </div>
                    </div>


                    @*<div class="form-group col-lg-6" style="display: flex;align-items: end;">
                            <button class="btn" id="btnCapitalAdd" style="color:white!important;background: #f953c6; /* fallback for old browsers */ background: -webkit-linear-gradient(to left, #b91d73, #f953c6); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to left, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ "><i class="fa fa-plus"></i> ADD</button>
                        </div>*@
                </div>

                <div class="row">
                    <div class="form-group col-lg-12">
                        <table class="table table-borderless table-striped table-hover">
                            <thead class="dark">
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th hidden>DepartmentID</th>
                                    <th>Department</th>
                                    <th hidden>NOC Application ID</th>
                                    <th>NOC Application Type</th>
                                    <th hidden>NOC Type ID</th>
                                    <th>NOC Form Name</th>
                                    <th hidden>Fee TypeID</th>
                                    <th>Fee Type</th>
                                    <th>For Boys</th>
                                    <th>For Girls</th>
                                    <th>For Co-Education</th>
                                    <th>Cut Off</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (feeDataList != null && feeDataList.Count > 0)
                                    {
                                        foreach (var item in feeDataList)
                                        {
                                            <tr>
                                                <td>@item.iPK_ID</td>
                                                <td>@item.Type</td>
                                                <td>@item.StartDate</td>
                                                <td>@item.EndDate</td>
                                                <td hidden>@item.DeptID</td>
                                                <td>@item.Deptname</td>
                                                <td hidden>@item.NOCApplID</td>
                                                <td>@item.NocApplication</td>

                                                <td hidden>@item.NOCTypID</td>
                                                <td>@item.nocTypeName</td>

                                                <td hidden>@item.FeeTypID</td>
                                                <td>@item.Feetype</td>
                                                <td>@item.dBoys</td>
                                                <td>@item.dGirls</td>
                                                <td>@item.dCoEdu</td>
                                                <td>@item.dCutOff</td>
                                                <td><button id="btn_fee_@item.iPK_ID" class="btn btn-sm btn-primary" /><i class="fa fa-pencil"></i></td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="14" style="text-align: center;">No Data Available</td>
                                        </tr>
                                    }
                                }





                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="form-group col-lg-12">
                        <button class="btn col-sm-1 btnPrev" id="btnPrev"><i class="fas fa-save"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/jquery/jquery.js"></script>
<script src="~/Content/select2/js/select2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
<script src="~/Content/globalDomain.js"></script>
<script type="text/javascript">
    var isAdmin = 1;
    $(document).ready(function () {
        $(".singleselect").select2();
        $("#dtInsertStrDt").change(function () {
            
            var startdate = $(this).val();
            $("#dtInsertEndDt").prop('disabled', false);
            document.getElementById("dtInsertEndDt").min = startdate;

        });
        $('#ddldept').change(function () {
            var id = $(this).val();
            getNoCForDept(id);
            return false;
        });

        $('#ddlNOC').change(function () {
            var id = $(this).val();
            getNoCTypeDetails(id);
            return false;
        });
        $('input[name=customRadio]').change(function () {
            var feeModal = $(this).val();
            if (feeModal == 'late') {
                $('#divboys').removeClass('col-lg-4').addClass('col-lg-3');
                $('#divgirls').removeClass('col-lg-4').addClass('col-lg-3');
                $('#divcoEdu').removeClass('col-lg-4').addClass('col-lg-3');
                $('#divcutoff').css('display', 'block');
            }
            else {
                $('#divboys').removeClass('col-lg-3').addClass('col-lg-4');
                $('#divgirls').removeClass('col-lg-3').addClass('col-lg-4');
                $('#divcoEdu').removeClass('col-lg-3').addClass('col-lg-4');
                $('#divcutoff').css('display', 'none');
            }
        });
    });

    $('#btnPrev').click(function () {
        var status = validation();
        console.log(status);

        if (status) {
            var feeModal = $('input[name=customRadio]:checked').val();
            var startDate = $('#dtInsertStrDt').val();
            var endDate = $('#dtInsertEndDt').val();
            var dept = $('#ddldept').val();
            var nocType = $('#ddlNOC').val();
            var nocForm = $('#ddlNOCDetails').val();
            var feeType = $('#ddlFeeType').val();
            var boys = $('#txtboysFee').val();
            var girls = $('#txtgirlsFee').val();
            var coEdu = $('#txtCoEDUFee').val();
            var cutOff = $('#txtcutOff').val();

            var feeModal = {
                "Type": feeModal,
                "DeptID": parseInt(dept),
                "NOCTypID": parseInt(nocType),
                "NOCApplID": parseInt(nocForm),
                "FeeTypID": parseInt(feeType),
                "dBoys": parseFloat(boys),
                "dGirls": parseFloat(girls),
                "dCoEdu": parseFloat(coEdu),
                "dCutOff": parseFloat(cutOff),
                "StartDate": startDate,
                "EndDate":endDate
            }

            var d = JSON.stringify(feeModal);
            console.log(d);
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: GetglobalDomain() + "/Fee/SaveDetails",
                dataType: 'json',
                type: 'Post',
                cache: false,
                data: JSON.stringify(feeModal),
                success: function (data) {
                    console.log('ajax');
                    console.log(data);

                    if (data.StatusCode == 1) {

                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Success...!',
                            html: `${data.Message}`,
                            allowOutsideClick: false,
                            showCloseButton: true,
                            showConfirmButton: false,
                        })
                    }

                    setTimeout(function () {
                        window.location.href = '@Url.Action("Index", "Fee")';
                    }, 2500);

                },
                error: function (d) {
                    console.log(d);
                }
            });
        }
    });

    $('input[name=customRadio]').change(function () {
        var isadmin = $(this).val();

        if (isadmin == 'yes') {
            $('#divAdminBlock').css('display', 'block');
            isAdmin = 1;
        }
        else {
            $('#divAdminBlock').css('display', 'none');
            isAdmin=0
        }
    })

    function validation() {
        var status = true;

        var feeModal = $('input[name=customRadio]:checked').val()//$('input[name=customRadio]').val();
        var startDate = $('#dtInsertStrDt').val();
        var endDate = $('#dtInsertEndDt').val();
        var dept = $('#ddldept').val();
        var nocType = $('#ddlNOC').val();
        var feeType = $('#ddlFeeType').val();
        var boys = $('#txtboysFee').val();
        var girls = $('#txtgirlsFee').val();
        var coEdu = $('#txtCoEDUFee').val();
        var cutOff = $('#txtcutOff').val();

        if (typeof feeModal === 'undefined' || feeModal === null) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Error...!',
                html: 'Please Select Fee Model...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false,
            })
            status = false;
        }
        else if (startDate.length <= 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Error...!',
                html: 'Please Select Start Date...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false,
            })
            status = false;
        }
        else if (endDate.length <= 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Error...!',
                html: 'Please Select End Date...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false,
            })
            status = false;
        }
        else if (dept == 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Error...!',
                html: 'Please Select Department...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false,
            })
            status = false;
        }
        else if (nocType == 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Error...!',
                html: 'Please Select NOC Type...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false,
            })
            status = false;
        }
        else if (feeType == 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Error...!',
                html: 'Please Select Fee Type...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false,
            })
            status = false;
        }
        else if (boys.length <= 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Error...!',
                html: 'Please Enter Fee For Boys...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false,
            })
            status = false;
        }
        else if (girls.length <= 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Error...!',
                html: 'Please Enter Fee For Girls...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false,
            })
            status = false;
        }
        else if (coEdu.length <= 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Error...!',
                html: 'Please Enter Fee For Co Education...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false,
            })
            status = false;
        }
        else if (feeModal == 'late') {
            if (cutOff.length <= 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Error...!',
                html: 'Please Enter Cut Off Fee...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false,
            })
            status = false;
        }
        }

        return status;
    }

    function numberOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(/[^0-9]/gi, "");
    }

    $('#pinMyLocation').click(function () {

        getLocation();


    });

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);

        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
       //alert("Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude)
        var data = {
            lat:position.coords.latitude,
            long:position.coords.longitude
        }

        console.log(JSON.stringify(data));

        $('#txtLocation').val(data.lat + '-' + data.long);
        $('#txtLocation').attr('readonly', true);

        //$('#hdf_longitudeData').val(position.coords.longitude)
        //$('#hdf_latitudeData').val(position.coords.latitude)

        //console.log('from inner');
        //console.log("lat : " + $('#hdf_longitudeData').val());
        //console.log("long : " + $('#hdf_latitudeData').val());
    }

    function getNoCForDept(deptID) {

         var NOCReq = {
                "MenuId": parseInt(deptID),
            }

        var d = JSON.stringify(NOCReq);
            console.log(d);
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: GetglobalDomain() + "/Fee/GetDepartmentNOC",
                dataType: 'json',
                type: 'Post',
                cache: false,
                data: JSON.stringify(NOCReq),
                success: function (data) {
                    console.log('ajax');
                    console.log(data);
                    var NOCData = data.Data;
                    var NocSelectData = `<option value=0>Select Application Type</option>`;
                    if (NOCData.length > 0) {

                        NOCData.forEach(function (item) {
                            NocSelectData += `<option value=${item.Id}>${item.Text}</option>`;
                        })
                    }
                    $('#ddlNOC').html('');
                    $('#ddlNOC').html(NocSelectData);

                },
                error: function (d) {
                    console.log(d);
                }
            });
    }

    function getNoCTypeDetails(nocTypeID) {

         var NOCReq = {
             "MenuId": parseInt(nocTypeID),
            }

        var d = JSON.stringify(NOCReq);
            console.log(d);
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: GetglobalDomain() + "/Fee/GetNOCDetails",
                dataType: 'json',
                type: 'Post',
                cache: false,
                data: JSON.stringify(NOCReq),
                success: function (data) {
                    console.log('ajax');
                    console.log(data);
                    var NOCData = data.Data;
                    var NocSelectData = `<option value=0>Select Form Name</option>`;
                    if (NOCData.length > 0) {

                        NOCData.forEach(function (item) {
                            NocSelectData += `<option value=${item.Id}>${item.Text}</option>`;
                        })
                    }
                    $('#ddlNOCDetails').html('');
                    $('#ddlNOCDetails').html(NocSelectData);

                },
                error: function (d) {
                    console.log(d);
                }
            });
    }

</script>


