@using NewZapures_V2.Models
@model BasicDetailsBO
@{
    ViewBag.Title = "Basic Information";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var university = ViewBag.universityCollection as List<Dropdown>;
    var collegeType = ViewBag.collegeTypeList as List<Dropdown>;
    List<CustomMaster> TrustList = new List<CustomMaster>();
    if (ViewBag.TrustList != null)
    {
        TrustList = (List<CustomMaster>)ViewBag.TrustList;
    }
}
@section styles {


    <link rel="stylesheet" href="~/Content/DashboardCss/AdminLTE2/css/adminlte.min.css">
    <link href="~/plugins/dropify/css/dropify.min.css" rel="stylesheet">
}
<style type="text/css">
    .dropify-wrapper {
        display: block;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        height: 138px;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 22px;
        color: #777;
        background-color: #FFF;
        background-image: none;
        text-align: center;
        border: 2px solid #E5E5E5;
        -webkit-transition: border-color .15s linear;
        transition: border-color .15s linear;
    }

    .table thead {
        background-color: #646d91 !important;
    }

    .table th {
        color: #ffffff !important;
    }

    .fsc {
        background: #6441A5;
        background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
        background: linear-gradient(to left, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsc h4 {
            color: white !important;
        }

    .fsi {
        background: #6441A5;
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
        background: linear-gradient(to right, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsi h4 {
            color: white !important;
        }

    .fop {
        background: #B993D6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 12px;
    }

        .fop h4 {
            color: white !important;
        }
</style>



<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">NOC</li>
                    @*<li class="breadcrumb-item">Master</li>*@
                    <li class="breadcrumb-item active">Basic Information</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewBag.Title</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>




@using (Html.BeginForm("SaveDetails", "BasicDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="card">
        <div class="card-header fsc">
            <h4 class="mt-0 header-title float-left">College Details</h4>
        </div>
        <div class="card-body row">

            <div class="col-8">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Trust Type</label>
                        <div>
                            <select class="form-control" name="TrustInfoId" id="TrustInfoId">

                                <option value="0">Select Trust</option>
                                @{
                                    foreach (var item in TrustList)
                                    {
                                        <option value="@item.Id">@item.text</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>


                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Choose College type</label>
                        <div class=" row form-group col-sm-12 mt-2" style="text-align:center">

                            @{
                                if (collegeType != null)
                                {
                                    foreach (var item in collegeType)
                                    {
                                        <div class="form-group custom-control custom-radio col-sm-2">
                                            <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" name="CollegeType" id="rbtn_@item.Text" value="@item.Id">
                                            <label for="rbtn_@item.Text" class="custom-control-label" style="width: max-content;">@item.Text</label>
                                        </div>
                                    }
                                }
                            }





                            @*<div class="form-group custom-control custom-radio col-sm-3">
                        <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" name="collegeType" id="txtGirls" value="girls">
                        <label for="txtGirls" class="custom-control-label">Girls</label>
                    </div>
                    <div class=" form-group custom-control custom-radio col-sm-3">
                        <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" name="collegeType" id="txtBoy" value="boys">
                        <label for="txtBoy" class="custom-control-label">Boys</label>
                    </div>
                    <div class="form-group custom-control custom-radio col-sm-3">
                        <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" name="collegeType" id="txtCoEducation" value="girlsboyBoth">
                        <label for="txtCoEducation" class="custom-control-label">CoEducation</label>
                    </div>*@
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">College Name</label>
                        <div>
                            <input class="form-control col-sm-12" type="text" id="txtCollegeName" oninput="charecterOnly(id)" name="CollegeName" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">University</label>
                        <div>
                            <select class="form-control" id="txtUniverSity" name="University">
                                <option value="">--University --</option>
                                @{
                                    if (university != null)
                                    {
                                        foreach (var item in university)
                                        {
                                            <option value="@item.Id">@item.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Mobile Number</label>
                        <div>
                            <input class="form-control col-sm-12" type="text" maxlength="10" id="txtMobileNumber" oninput="numberOnly(this.id);" name="MobileNumber" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Email</label>
                        <div>
                            <input class="form-control col-sm-12" type="email" id="txtEmail" name="Email" autocomplete="off">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Address Line1</label>
                        <div>
                            <input type="text" class="form-control" name="AddressLine1" id="txtAddressLine1" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Address Line2</label>
                        <div>
                            <input type="text" class="form-control" name="AddressLine2" id="txtAddressLine2" autocomplete="off" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Division</label>
                        <div>
                            <select class="form-control" id="txtdistrict" name="Division">
                                <option value="">--Divison --</option>
                                <option value="1">Jaipur</option>
                                <option value="2">Jodhpur</option>
                                <option value="3">Kota
                                <option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-6" style="display:none">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Sub Division</label>
                        <div>
                            <select class="form-control" id="txtdistrict" name="District">
                                <option value="">--Sub Divison --</option>
                                <option value="1">Jaipur</option>
                                <option value="2">Jodhpur</option>
                                <option value="3">Kota
                                <option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">District</label>
                        <div>
                            <select class="form-control" id="txtdistrict" name="District">
                                <option value="">--District--</option>
                                <option value="1">Jaipur</option>
                                <option value="2">Jodhpur</option>
                                <option value="3">Kota
                                <option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Tehsil</label>
                        <div>
                            <select class="form-control" id="txttehsil" name="Tehsil">
                                <option value="">--Sub Divison --</option>
                                <option value="1">Jaipur</option>
                                <option value="2">Jodhpur</option>
                                <option value="3">Kota
                                <option>
                            </select>
                        </div>
                    </div>
                </div>





                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Parliment Area</label>
                        <div>
                            <select class="form-control" id="txtParlimentArea" name="ParliamentArea">
                                <option value="">--Parliament Area--</option>
                                <option value="1">Jaipur</option>
                                <option value="2">Jodhpur</option>
                                <option value="3">Kota
                                <option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Assemble Area</label>
                        <div>
                            <select class="form-control" id="txtAssembleArea" name="AssembleArea">
                                <option value="">--Assemble Area--</option>
                                <option value="1">Jaipur</option>
                                <option value="2">Jodhpur</option>
                                <option value="3">Kota
                                <option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">City Town Village</label>
                        <div>
                            <select class="form-control" id="txtCityTownVillage" name="CityTownVillage">
                                <option value="">--City Town Village--</option>
                                <option value="1">Jaipur</option>
                                <option value="2">Jodhpur</option>
                                <option value="3">Kota
                                <option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Urban/Rural</label>
                        <div>
                            <select class="form-control" id="txtUrbanRural" name="UrbanRural">
                                <option value="">--Urban Rural--</option>
                                <option value="1">Jaipur</option>
                                <option value="2">Jodhpur</option>
                                <option value="3">Kota
                                <option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Panchayat Simiti</label>
                        <div>
                            <select class="form-control" id="txtPanchayatSimiti" name="PanchayatSimiti" required="required">
                                <option value="">--Panchayat Simiti--</option>
                                <option value="1">Jaipur</option>
                                <option value="2">Jodhpur</option>
                                <option value="3">Kota
                                <option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Website URL</label>
                        <div>
                            <input type="text" class="form-control" name="Websiteurl" placeholder="Website URL" id="txtWebsiteurl" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 text-center d-flex align-items-center justify-content-center" style="align-items:flex-start !important">
                <div class="">
                    <h4 class="mt-0 header-title">Collage Logo</h4>
                    @*<p class="text-muted mb-3">Upload Your Profile Photo</p>*@
                    <input type="file" id="input-file-now" class="dropify" name="collageLogo" />
                </div>
            </div>

        </div>
        <div class="card-header fsc">
            <h4 class="mt-0 header-title float-left">Contact Details</h4>
        </div>
        <div class="card-body row">
            <div class="col-8">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Contact No. 1</label>
                        <div>
                            <input type="text" class="form-control" name="ContactNo1" id="txtcontact1" oninput="numberOnly(this.id);" maxlength="10" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Email Address 1</label>
                        <div>
                            <input type="text" class="form-control" name="EmailAddress1" id="txtEmailAddress1" autocomplete="off" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Contact No. 2</label>
                        <div>
                            <input type="text" class="form-control" name="ContactNo2" id="txtcontact2" oninput="numberOnly(this.id);" maxlength="10" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Email Address 2</label>
                        <div>
                            <input type="text" class="form-control" name="EmailAddress2" id="txtEmailAddress2" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header fsc">
            <h4 class="mt-0 header-title float-left">Track Geo Location</h4>
        </div>
        <div class="card-body row">
            <div class="col-8">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Latitude </label>
                        <div>
                            <input type="text" class="form-control" name="Latitudedd" id="txtLatitude" autocomplete="off" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Longituted</label>
                        <div>
                            <input type="text" class="form-control" name="Longitudedd" id="txtLongitude" autocomplete="off" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-header fsc">
            <h4 class="mt-0 header-title float-left">Additional Contact</h4>
        </div>
        <div class="card-body row">
            <div class="col-8">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Mobile Number</label>
                        <div>
                            <input type="text" class="form-control" oninput="numberOnly(this.id);" maxlength="10" name="AddiMobileNumber" id="txtAddiMobileNumber" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">LandLine Number</label>
                        <div>
                            <input type="text" class="form-control" maxlength="10" oninput="numberOnly(this.id);" name="LandlineNumber" id="txtLandlineNumber" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="card-header fsc">
                <h4 class="mt-0 header-title float-left">College Type</h4>
            </div>

            <div class="row example-text-input">
                <div class=" row form-group col-sm-12" style="text-align:center">
                    <div class="form-group custom-control custom-radio col-sm-3">
                        <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" name="collegeType" id="txtGirls" value="girls">
                        <label for="txtGirls" class="custom-control-label">Girls</label>
                    </div>
                    <div class=" form-group custom-control custom-radio col-sm-3">
                        <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" name="collegeType" id="txtBoy" value="boys">
                        <label for="txtBoy" class="custom-control-label">Boys</label>
                    </div>
                    <div class="form-group custom-control custom-radio col-sm-3">
                        <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" name="collegeType" id="txtCoEducation" value="girlsboyBoth">
                        <label for="txtCoEducation" class="custom-control-label">CoEducation</label>
                    </div>
                </div>
            </div>*@

        <div class="row">
            <div class="form-group col-lg-12" style="text-align:center">
                <button type="submit" id="btnsubmitDetails" style="display:none"></button>
                <button class="btn btn col-sm-2" type="button" onclick="CheckValidation()" id="btnSave" style="color:white!important;background: #f953c6; background: -webkit-linear-gradient(to left, #b91d73, #f953c6); background: linear-gradient(to left, #b91d73, #f953c6);  "><i class="fa fa-plus"></i> ADD</button>
                <button class="btn btn col-sm-2" id="btnCapitalAdd" style="color:white!important;background: #f953c6; background: -webkit-linear-gradient(to left, #b91d73, #f953c6); background: linear-gradient(to left, #1d6cb9, #4f5fe0);">NEXT</button>
                @*<button class="btn col-sm-2 btnNext" id="btnSaveNext">Next <i class="fas fa-arrow-right"></i></button>*@

            </div>
        </div>
    </div>

}


@section scripts {
    <script src="~/plugins/dropify/js/dropify.min.js"></script>
    <script src="~/scripts/pages/jquery.form-upload.init.js"></script>
    <script src="~/Content/globalDomain.js"></script>
}
@*<script src="~/Content/jquery/jquery.js"></script>
    <script src="~/Content/select2/js/select2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
    <script src="~/Content/globalDomain.js"></script>

    <script src="~/scripts/pages/jquery.forms-advanced.js"></script>
    <script src="~/plugins/dropify/js/dropify.min.js"></script>
    <script src="~/scripts/pages/jquery.form-upload.init.js"></script>*@
<script type="text/javascript">

    $(document).ready(function () {
        getLocation();
        var isuserExists = '@TempData["isSaved"]'
        var message = '@TempData["msg"]'
        if (isuserExists == 1 && message.length> 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: message,
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,

                });
        }
        if (isuserExists == 0 && message.length> 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: message,
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,
                });
        }

        //$("#ddlOperator").select2({
        //    templateResult: formatState,
        //    templateSelection: formatState
        //});
        $("#ddlUniverSity").select2();

        //$('#ddlOperator').change(function () {
        //    var operator = $("#ddlOperator option:selected").text();
        //    var operatorval = parseInt($("#ddlOperator").val());
        //    //getCommissions(operatorval);
        //    //alert(operator)
        //    //alert(operatorval)
        //    if (operatorval <= 6) {
        //        $('#divPlansForDTH').hide();
        //        $('#divPlansForMobile').show();
        //        $('#divCircle').show();
        //        var selectedCircle = $('#ddlCircle').val();
        //        if (selectedCircle != "0") {
        //            $('#loadingDiv').css('display', 'block');
        //        }

        //        $('#txtRechargeAmount').attr('readonly', 'true');
        //        $('#lblmobile').html('Enter Mobile Number');
        //        $('#txtMobileNumer').attr("placeholder", "Enter Mobile Number");

        //        $('#txtRechargeAmount').val('');
        //        $('#txtplanDescription').html('');
        //        $('#txtMobileNumer').val('');
        //        $('#btnRecharge').attr('disabled', 'true');
        //        //$('#divplanDiscription').hide();
        //        getPlans(operator, selectedCircle);
        //    }
        //    if (operatorval >= 7) {
        //        var operator = $("#ddlOperator option:selected").text();
        //        $('#loadingDivnew').css('display', 'block');
        //        $('#divPlansForDTH').show();
        //        $('#divPlansForMobile').hide();
        //        $('#PlansDivForDTH').show();
        //        $('#txtRechargeAmount').removeAttr('readonly');
        //        $('#lblmobile').html('Enter Subscriber ID');
        //        $('#txtMobileNumer').attr("placeholder", "Enter Subscriber Id");
        //        $('#divCircle').hide();

        //        $('#txtRechargeAmount').val('');
        //        $('#txtplanDescription').html('');
        //        $('#txtMobileNumer').val('');
        //        $('#btnRecharge').attr('disabled', 'true');
        //        //$('#divplanDiscription').hide();
        //        getPlansForDTH(operator);
        //    }

        //});
        //$('#ddlCircle').change(function () {
        //    var operator = $("#ddlOperator option:selected").text();
        //    var circle = $(this).val();

        //    $('#txtRechargeAmount').attr('readonly', 'true');
        //    $('#lblmobile').html('Enter Mobile Number');
        //    $('#txtMobileNumer').attr("placeholder", "Enter Mobile Number");

        //    $('#txtRechargeAmount').val('');
        //    $('#txtplanDescription').html('');
        //    $('#txtMobileNumer').val('');
        //    $('#btnRecharge').attr('disabled', 'true');

        //    if (operator == 'Select Operator') {
        //        Swal.fire({
        //            position: 'center',
        //            icon: 'error',
        //            title: 'Operator Not Selected',
        //            text: 'Please select operator first...',
        //            allowOutsideClick: false,
        //            showCloseButton: false,
        //            showConfirmButton: true,
        //        });
        //    }
        //    else if (circle == 0) {
        //        $('#divPlansForMobile').hide();


        //    }
        //    else {
        //        $('#loadingDiv').css('display', 'block');
        //        $('#divPlansForMobile').show();
        //        getPlans(operator, circle);
        //    }


        //});

        $('#txtMobileNumber').blur(function () {
            if ($("#txtMobileNumber").val().length > 0) {
                if ($("#txtMobileNumber").val().substr(0, 1) == 0 || $("#txtMobileNumber").val().length < 10) {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: '<div><h4><b>Mobile No</b> Length Must be <b>10 Digits</b> long and should start with 1 or greater</h4></div>',
                        allowOutsideClick: false,
                        showCloseButton: true,
                        showConfirmButton: false,

                    });
                    $("#txtMobileNumber").val('');
                    // $('#txtUsername').val('');
                }
            }
            if ($("#txtAddiMobileNumber").val().length > 0) {
                if ($("#txtAddiMobileNumber").val().substr(0, 1) == 0 || $("#txtAddiMobileNumber").val().length < 10) {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: '<div><h4><b>Mobile No</b> Length Must be <b>10 Digits</b> long and should start with 1 or greater</h4></div>',
                        allowOutsideClick: false,
                        showCloseButton: true,
                        showConfirmButton: false,

                    });
                    $("#txtAddiMobileNumber").val('');
                    // $('#txtUsername').val('');
                }
            }
        })
    });

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
         } else {
            alert("Geolocation is not supported by this browser.");
        }
    }
    function showPosition(position) {
        //alert("Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude)
        var data = {
            lat:position.coords.latitude,
            long:position.coords.longitude
        }

        console.log(JSON.stringify(data));

        $('#txtLatitude').val(data.lat);
        $('#txtLongitude').val(data.long);

        //$('#hdf_longitudeData').val(position.coords.longitude)
        //$('#hdf_latitudeData').val(position.coords.latitude)
        //console.log('from inner');
        //console.log("lat : " + $('#hdf_longitudeData').val());
        //console.log("long : " + $('#hdf_latitudeData').val());
    }

    function CheckValidation() {
        var status = true;
       // var Bankname = $('#txtBankName').val().trim();
        var MobileNumber = $('#txtMobileNumber').val().trim();
        var Email = $('#txtEmail').val().trim();
        var WebsiteUrl = $('#txtWebsiteurl').val().trim();
        var Address1 = $('#txtAddressLine1').val().trim();
        var Address2 = $('#txtAddressLine2').val().trim();
        var AdiMobileNumber = $('#txtAddiMobileNumber').val().trim();
        var LandlineNumber = $('#txtLandlineNumber').val().trim();

        //if (Bankname.length <= 0) {
        //    Swal.fire({
        //        position: 'center',
        //        icon: 'error',
        //        title: 'Bank Name Required...!',
        //        allowOutsideClick: false,
        //        showCloseButton: true,
        //        showConfirmButton: false,
        //    })
        //    $('#txtBankName').focus();
        //    $('#txtBankName').val('');
        //    status = false;
        //}
        //else
        if (MobileNumber.length <= 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Mobile Number Required...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false
            })
            $('#txtMobileNumber').focus();
            $('#txtMobileNumber').val('');
            status = false;
         }
        else if (Email.length <= 0) {
             Swal.fire({
                 position: 'center',
                 icon: 'error',
                 title: 'Email Id Required...!',
                 allowOutsideClick: false,
                 showCloseButton: true,
                 showConfirmButton: false,
             })
             $('#txtEmail').focus();
             $('#txtEmail').val('');
             status = false;
         }
        else if (WebsiteUrl.length <= 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Website URL Required...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false
            })
            $('#txtWebsiteurl').focus();
            $('#txtWebsiteurl').val('');
            status = false;
        }
        else if (Address1.length <= 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Address1 is Required...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false,
            })
            $('#txtAddressLine1').focus();
            $('#txtAddressLine1').val('');
            status = false;
        }
        else if (Address2.length <= 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Address2 is Required...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false,
            })
            $('#txtAddressLine2').focus();
            $('#txtAddressLine2').val('');
            status = false;
        }
        else if (AdiMobileNumber.length <= 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Additional Mobile Number Required...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false
            })
            $('#txtAddiMobileNumber').focus();
            $('#txtAddiMobileNumber').val('');
            status = false;
        }
        else if (LandlineNumber.length <= 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Landline Number Required...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false
            })
            $('#txtLandlineNumber').focus();
            $('#txtLandlineNumber').val('');
            status = false;
        }

        if (status) {
            $('#btnsubmitDetails').click();
        }
    }
    function numberOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(/[^0-9]/gi, "");
    }
    function charecterOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(/[^A-Za-z]/, "");
    }
</script>



