@using NewZapures_V2.Models;
@{
    var servicesCollectiondata = (UserModelSession)Session["UserDetails"];

    //if(servicesCollectiondata==null)
    //{
    //   RenderPage("~/Views/Authentication/login-alt.cshtml");
    //}
    if (servicesCollectiondata == null)
    {
        NewZapures_V2.Controllers.HomeController home = new NewZapures_V2.Controllers.HomeController();
        home.SignOut();
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>NOC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/NOCIMAGE.png">
    @Styles.Render("~/Content/css")
    <link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
    @*<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.min.css" rel="stylesheet" type="text/css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="~/Content/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/loader.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>

<body>
    <!-- leftbar-tab-menu -->
    @{
        if (servicesCollectiondata != null)
        {
            if (servicesCollectiondata.PartyId == "A000001")
            {
                @Html.Partial("_leftbar-tab-menuAdmin")
            }
            else
            {
                
                @Html.Partial("_leftbar-tab-menuUser")
            }

        }
    }
    <!-- end leftbar-tab-menu-->
    <!-- Top Bar Start -->
    @Html.Partial("_top-bar")
    <!-- Top Bar End -->

    <div class="page-wrapper">
        <!-- Page Content-->
        <div class="page-content-tab">
            <!-- main container -->
            <div class="container-fluid">
                @RenderBody()
            </div>
            <div class="modal fade hide" id="progressModel" tabindex="-1" role="dialog" data-backdrop="static">
                <div class="modal-dialog" style="margin-top:320px;">
                    <div class="Loader float-right" style="width:500px;">
                        <div class="row col-lg-12">
                            <div class="col-lg-5">
                                <h1 class="text-white"> Loading... </h1>
                            </div>
                            <div class="col-lg-6 float-right">
                                <div class="sk-wave">
                                    <div class="sk-wave-rect btn-gradient-info waves-effect waves-light"></div>
                                    <div class="sk-wave-rect btn-gradient-primary waves-effect waves-light"></div>
                                    <div class="sk-wave-rect btn-gradient-purple waves-effect waves-light"></div>
                                    <div class="sk-wave-rect btn-gradient-success waves-effect waves-light "></div>
                                    <div class="sk-wave-rect btn-gradient-warning waves-effect waves-light"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="" class="confirmBox" style="display:none;">
                <h4><i class="fa fa-question-circle"></i> Confirm</h4>
                <div class="fullWidth">
                    <p> Click OK to confirm or Cancel to exit</p>
                    <div class="fullWidth flr">
                        <input id="yesConfirm" class="btn comBtn" type="button" value="OK" />
                        <input id="noConfirm" class="btn whiteBtn" type="button" value="Cancel" />
                    </div>
                </div>
            </div>
            <div class="overlay"></div>
            <!-- end container -->
            <!-- right bar -->
            @Html.Partial("_right-bar")
            <!-- end right bar -->
            <!--footer-->
            @Html.Partial("_footer")
            <!--end footer-->
        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/select2/js/select2.js"></script>
    <script src="~/Content/sweetalert2.all.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>*@
    @*<script src="~/Content/LoginSignUp/js/owl.carousel.min.js"></script>*@

    @Scripts.Render("~/bundles/scripts")

    @RenderSection("scripts", false)
    <!-- app.js -->
    @Scripts.Render("~/Scripts/app.js")
    <script type="text/javascript">

        var globaUserProperties = new Object();

        var base_url = window.location;
        globaUserProperties.domain = base_url.origin;// + "/" + window.location.pathname.split('/')[1];  // Stagging where we have domain in front of URL

        window.history.forward();
        function noBack() {
            window.history.forward();
        }
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
        function confirmLoader() {
            $("#progressModel").modal('show');

        };
    </script>
    @if (TempData["StatusMsg"] != null)
    {
        if (TempData["Message"] != null)
        {
            var Msg = TempData["Message"];
            var StatusMsg = TempData["StatusMsg"];
            <script type="text/javascript">
                $(document).ready(function () {
                var Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 4000,
                        timerProgressBar: true,
                        onOpen: function (toast) {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                })
                    Toast.fire({
                        icon: '@StatusMsg.ToString()' ,
                        title: '@Msg.ToString()'
                    })
                    //    icon: 'success',
                    //    icon: 'error',
                    //    icon: 'info',
                    //    icon: 'warning',
                });
                //$(document).bind("contextmenu", function (e) {
                //    e.preventDefault();
                //});
            </script>
        }
    }


    @if (TempData["SwalStatusMsg"] != null)
    {
        if (TempData["SwalMessage"] != null)
        {
            var SwalMsg = TempData["SwalMessage"];
            var SwalStatusMsg = TempData["SwalStatusMsg"];
            var SwalTitle = TempData["SwalTitleMsg"];
            <script type="text/javascript">
                $(document).ready(function () {

                        Swal.fire(
                            '@SwalTitle.ToString()',
                            '@SwalMsg.ToString()',
                            '@SwalStatusMsg.ToString()'
                        )
                    //    SwalStatusMsg: 'success',
                    //    SwalStatusMsg: 'question'
                    //    SwalStatusMsg: 'error',
                    //    SwalStatusMsg: 'warning',

                });
            </script>
        }
    }
</body>
</html>
