@model NewZapures_V2.Models.ClientWalletRechage
@{
    ViewBag.Title = "Wallet Recharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<NewZapures_V2.Models.ClientWalletRechage> TransList = ViewData["WalletRechargeHistory"] as IEnumerable<NewZapures_V2.Models.ClientWalletRechage>;
    //IEnumerable<NewZapures_V2.Models.AdminBankDetails> CompBankDetails = ViewData["CompanyBankDetails"] as IEnumerable<NewZapures_V2.Models.AdminBankDetails>;
}
<style>
    input[type=text].rupee {
        background-image: url(http://i.imgur.com/Fd7NROx.png);
        border: 1px solid #aaa;
        padding: 5px;
        padding-left: 20px;
        background-size: 20px 25px;
        background-repeat: no-repeat;
        background-position: left;
    }
</style>
<style>
    /*! Slide Social Buttons - v1.0 - 2013-7-10
    * Slide Social Buttons are a fun way to display your social media buttons
    * https://github.com/christophery/slide-social-buttons
    * by Christopher Yee */

    .slide-social {
        display: inline-block;
        overflow: hidden;
        /*margin: 0 10px 10px 0;*/
        /*width: 150px;*/
        height: 35px;
        background: #F1F1F1;
    }

        .slide-social .button {
            position: absolute;
            margin: 7px 0 0 42px;
        }

        .slide-social a {
            display: none; /* hide flash of unstyled tweet button */
        }

    .icon {
        float: left;
        padding-top: 9px;
        width: 25%;
        height: 100%;
        text-align: center;
    }

        .icon i {
            color: #FFF;
            font-size: 1.2em;
        }

    .slide {
        position: relative;
        float: left;
        width: 75%;
        height: 100%;
    }

        .slide p {
            position: relative;
            top: 7px;
            margin: 0;
            border-left: 1px solid rgb(255,255,255); /* IE < 9 Fallback Colour */
            border-left: 1px solid rgba(255,255,255,0.3);
            color: #FFF;
            text-align: center;
            font-weight: 600;
        }

    /* Brand Colours */

    .facebook {
        background: #3b5998;
    }

    .twitter {
        background: #00acee;
    }

    .google-plus {
        background: #db4a39;
    }


    .linkedin {
        background: #0e76a8;
    }

    .pinterest {
        background: #c8232c;
    }

    /* Slide Animation */

    .slide-social:hover .slide {
        -webkit-transform: translate(101%, 0);
        -moz-transform: translate(101%, 0);
        -ms-transform: translate(101%, 0);
        -o-transform: translate(101%, 0);
        transform: translate(101%, 0);
    }

    .no-cssanimations .slide {
        display: none; /* hide in IE 8-9 */
    }

    .touch .slide {
        display: none; /* hide on touch devices */
    }

    /* Transition */

    .slide {
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }
</style>
<style>
    .parent {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        background: red;
        position: relative;
    }

    .buttonNew {
        width: 100px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        position: absolute;
        background: darkOrange;
        border-radius: 5px;
        bottom: -22.5px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
</style>
@*<div class="content-heading">
        <div class="row">
            <div class="col-sm-12 col-md-12" style="float:left;position:relative; ">
                <div>
                    <span class="text-bold text-md" style="color:black;font-size:28px">Wallet Refill&nbsp; </span>
                </div>
            </div>
        </div>
    </div>*@
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Zapures</li>
                    <li class="breadcrumb-item">Wallet</li>
                    @*<li class="breadcrumb-item active">@ViewBag.Create</li>*@
                </ol>
            </div>
            <h4 class="page-title">@ViewBag.Title</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading text-bold">
                Add Fund
            </div>
            @using (Html.BeginForm("WalletRecharge", "Client", FormMethod.Post, new { id = "Rechargeform", enctype = "multipart/form-data" }))
            {
                <div class="panel-body">

                    <div class="form-group col-sm-6">
                        @*<label for="Amount">Amount <span class="text-danger"> *</span></label>*@
                        @Html.TextBoxFor(m => Model.Amount, htmlAttributes: new { maxlength = 10, @id = "Amount", @class = "form-control allow_decimal rupee", @required = "required" })
                    </div>


                    <div class="form-group col-sm-6">
                        @*<label for="TransactionType">Transaction Type <span class="text-danger"> *</span></label>*@
                        @Html.DropDownListFor(m => m.PayFrom, ViewBag.PayFrom as SelectList, "Select PayFrom",
                                            new { @id = "PayFrom", @class = "form-control", @data_placeholder = "Select PayFrom" })
                    </div>
                    <div class="resultscore">
                        <div class="col-sm-6">
                            <div class="form-group custom-control custom-radio" style="position:unset; ">
                                @Html.RadioButtonFor(modal => modal.Mode, "704", new { @class = "custom-control-input", @id = "SelectOnline", @onchange = "getValue(this)" })
                                <label class="custom-control-label" for="SelectOnline">Online Payment</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group custom-control custom-radio" style="position:unset;">
                                @Html.RadioButtonFor(modal => modal.Mode, "703", new { @class = "custom-control-input", @checked = "checked", @id = "SelectOffline", @onchange = "getValue(this)" })
                                <label class="custom-control-label" for="SelectOffline">Manual Payment</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <section class="social-buttons online" hidden>
                            <div class="form-group">
                                <div class="slide-social col-lg-6" style="margin-bottom: 10px;" id="SelectService">
                                    <div class="button">
                                        @*<span style='font-size:12px;'>&nbsp; &#10004;</span>*@
                                        <p style="font-size: 12px; border: none; color: green; font-weight: 600; text-align: center; margin-left: auto%; width: 100%; margin-left: 5%;" allowtransparency="true">GPay</p>
                                        @*<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoogle.com%2F&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21"></iframe>*@
                                    </div>
                                    <div class="facebook icon"><span class="text-bold align-content-lg-center" style="padding-top:0px; font-weight: 600; color: #fff; font-size:14px ">G</span></div>
                                    <div class="facebook slide">
                                        <p style="font-size: 12px">GPay</p>
                                    </div>
                                </div>
                                <div class="slide-social col-lg-6" style="margin-bottom: 10px;" id="SelectService">
                                    <div class="button">
                                        <p style="font-size: 12px; border: none; color: green; font-weight: 600; text-align: center; margin-left: auto%; width: 100%; margin-left: 5%;" allowtransparency="true">QR Code</p>
                                        @*<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoogle.com%2F&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21"></iframe>*@
                                    </div>
                                    <div class="google-plus icon"><span class="text-bold align-content-lg-center" style="padding-top:0px; font-weight: 600; color: #fff; font-size:14px ">Q</span></div>
                                    <div class="google-plus slide">
                                        <p style="font-size: 12px">QR Code</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="slide-social col-lg-6" style="margin-bottom: 10px;" id="SelectService">
                                    <div class="button">
                                        <p style="font-size: 12px; border: none; color: green; font-weight: 600; text-align: center; margin-left: auto%; width: 100%; margin-left: 5%;" allowtransparency="true">PhonePay</p>
                                        @*<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoogle.com%2F&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21"></iframe>*@
                                    </div>
                                    <div class="twitter icon"><span class="text-bold align-content-lg-center" style="padding-top:0px; font-weight: 600; color: #fff; font-size:14px ">P</span></div>
                                    <div class="twitter slide">
                                        <p style="font-size: 12px">PhonePay</p>
                                    </div>
                                </div>
                                <div class="slide-social col-lg-6" style="margin-bottom: 10px;" id="SelectService">
                                    <div class="button">
                                        <p style="font-size: 12px; border: none; color: green; font-weight: 600; text-align: center; margin-left: auto%; width: 100%; margin-left: 5%;" allowtransparency="true">NET Banking</p>
                                        @*<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoogle.com%2F&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21"></iframe>*@
                                    </div>
                                    <div class="pinterest icon"><span class="text-bold align-content-lg-center" style="padding-top:0px; font-weight: 600; color: #fff; font-size:14px ">N</span></div>
                                    <div class="pinterest slide">
                                        <p style="font-size: 12px">NET Banking</p>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="social-buttons offline">
                            <div class="form-group">
                                <div class="slide-social col-lg-6" style="margin-bottom: 10px;" id="SelectService">
                                    <div class="button">
                                        @*<span style='font-size:12px;'>&nbsp; &#10004;</span>*@
                                        <p style="font-size: 12px; border: none; color: green; font-weight: 600; text-align: center; margin-left: auto%; width: 100%; margin-left: 5%;" allowtransparency="true">CDM</p>
                                        @*<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoogle.com%2F&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21"></iframe>*@
                                    </div>
                                    <div class="facebook icon"><span class="text-bold align-content-lg-center" style="padding-top:0px; font-weight: 600; color: #fff; font-size:14px ">C</span></div>
                                    <div class="facebook slide">
                                        <p style="font-size: 12px">CDM</p>
                                    </div>
                                </div>
                                <div class="slide-social col-lg-6" style="margin-bottom: 10px;" id="SelectService">
                                    <div class="button">
                                        <p style="font-size: 12px; border: none; color: green; font-weight: 600; text-align: center; margin-left: auto%; width: 100%; margin-left: 5%;" allowtransparency="true">UPI</p>
                                        @*<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoogle.com%2F&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21"></iframe>*@
                                    </div>
                                    <div class="google-plus icon"><span class="text-bold align-content-lg-center" style="padding-top:0px; font-weight: 600; color: #fff; font-size:14px ">U</span></div>
                                    <div class="google-plus slide">
                                        <p style="font-size: 12px">UPI</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="slide-social col-lg-6" style="margin-bottom: 10px;" id="SelectService">
                                    <div class="button">
                                        <p style="font-size: 12px; border: none; color: green; font-weight: 600; text-align: center; margin-left: auto%; width: 100%; margin-left: 5%;" allowtransparency="true">PhonePay</p>
                                        @*<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoogle.com%2F&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21"></iframe>*@
                                    </div>
                                    <div class="twitter icon"><span class="text-bold align-content-lg-center" style="padding-top:0px; font-weight: 600; color: #fff; font-size:14px ">P</span></div>
                                    <div class="twitter slide">
                                        <p style="font-size: 12px">PhonePay</p>
                                    </div>
                                </div>
                                <div class="slide-social col-lg-6" style="margin-bottom: 10px;" id="SelectService">
                                    <div class="button">
                                        <p style="font-size: 12px; border: none; color: green; font-weight: 600; text-align: center; margin-left: auto%; width: 100%; margin-left: 5%;" allowtransparency="true">NET Banking</p>
                                        @*<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoogle.com%2F&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21"></iframe>*@
                                    </div>
                                    <div class="pinterest icon"><span class="text-bold align-content-lg-center" style="padding-top:0px; font-weight: 600; color: #fff; font-size:14px ">N</span></div>
                                    <div class="pinterest slide">
                                        <p style="font-size: 12px">NET Banking</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="form-group" id="bnkdiv">
                        <label for="BankName" id="lblbankname">To Bank Account <span class="text-danger"> *</span></label>
                        @Html.DropDownListFor(m => m.ToBankAccount, ViewBag.CompanyBankDetail as SelectList, "Select CompanyBank",
                                            new { @id = "ToBankAccount", @class = "form-control", @data_placeholder = "Select CompanyBank" })
                        @*<select name="cars" id="cars" class="form-control">
                                <option value="volvo">Select Bank</option>
                                <option value="volvo">SBI</option>
                                <option value="saab">HDFC</option>
                            </select>*@
                        @*@Html.DropDownList("BankName", (SelectList)ViewData["BankName"], "Select Bank Name", htmlAttributes: new { @class = "col-lg-4 form-control", id = "BankName", name = "BankName" })*@
                    </div>
                    @*<div class="form-material">
                            <label class="mb-3">Default Material Date Picker</label>
                            <input type="text" class="form-control" placeholder="2017-06-04" id="mdate">
                        </div>*@
                    <div class="form-group">
                        <label for="UTRNo">Date of Deposite <span class="text-danger"> *</span></label>
                        @Html.TextBoxFor(m => Model.DepositeDate, new { @id = "depositdate", @class = "col-lg-12 form-control required" })
                    </div>
                    <div class="form-group" id="UTRdiv">
                        <label for="UTRNo">UTR NO. / Ref No. <span class="text-danger"> *</span></label>
                        @Html.TextBoxFor(m => Model.UTRNo, new { @id = "utrno", @maxlength = "35", @class = "col-lg-12 form-control required" })
                    </div>
                    <div class="form-group" id="Notesdiv">
                        <label for="UTRNo">Notes</label>
                        @Html.TextAreaFor(m => Model.Note, new { @id = "notes", @maxlength = "150", @class = "col-lg-12 form-control required", col = "5", Row = "5" })
                    </div>

                    <div class="form-group" id="filediv">
                        <label for="file1">Attatch Receipt </label>
                        <input type="file" id="file" name="file" data-input="true" data-buttonname="btn btn-info" data-iconname="fa fa-upload mr" class="form-control filestyle" />
                        <span id="receiptfile"></span>
                    </div>
                    <div class="pull-right" style="margin-top:10px;">
                        <button type="reset" class="btn btn-warning" style="margin-right:15px">Reset</button>
                        <input type="submit" class="btn btn-primary confirmRecharge" value="Submit" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-lg-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                @System.Configuration.ConfigurationManager.AppSettings["website"] Company  Bank Details
                @*<a href="#" data-tool="panel-collapse" data-toggle="tooltip" title="Collapse Panel" class="pull-right">
                        <em class="fa fa-minus"></em>
                    </a>*@
            </div>
            <div id="RechargeDetails" role="tabpanel" class="tab-pane">
                <table id="datatable10" class="table table-fixed1 table-bordered table-condensed table-striped table-hover">
                    <thead>
                        <tr class="title-heading">
                            <th>Bank Name</th>
                            <th>Bank Account Number</th>
                            <th>Bank IFSC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SBI cOMPANY</td>
                            <td>23465247624</td>
                            <td>YTR45453RT</td>
                        </tr>
                        <tr>
                            <td>HDFC Company</td>
                            <td>987866546464</td>
                            <td>TNB45453RTFSA</td>
                        </tr>
                        @*@{
                                if (ViewData["CompanyBankDetails"] != null)
                                {
                                    int i = 1;
                                    foreach (var item in CompBankDetails)
                                    {
                                        <tr>
                                            <td>
                                                @item.BankName
                                            </td>
                                            <td>
                                                @item.BankAccountNo
                                            </td>
                                            <td>
                                                @item.BankIFSC
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }*@
                    </tbody>



                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0">Wallet Recharge Request</h4>
                <p class="text-muted mb-3"><code>Pending</code> </p>
                <div class="table-responsive-sm">
                    <table class="table table-sm mb-0">
                        <thead>
                            <tr class="title-heading">
                                <th>Transaction Type</th>
                                <th>UTR NO./Ref No.</th>
                                <th>Amount</th>
                                <th>Recharge Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (ViewData["WalletRechargeHistory"] != null)
                                {
                                    int i = 1;
                                    foreach (var item in TransList)
                                    {
                                        <tr>
                                            <td>
                                                @item.Mode
                                            </td>
                                            <td>
                                                @item.UTRNo
                                            </td>
                                            <td>
                                                @item.Amount
                                            </td>
                                            <td>
                                                @item.EntryDate
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table><!--end /table-->
                </div><!--end /tableresponsive-->
            </div><!--end card-body-->
        </div><!--end card-->

    </div>
</div>


@*@section BodyArea {
        <div id="Loding" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSmall" aria-hidden="true" class="modal fade" style="margin-top:25%;">
            <div class="modal-dialog modal-sm whirl traditional">
            </div>
        </div>
    }*@

@section Styles {
    <link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/timepicker/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <link href="~/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/Content/LoginSignUp/css/bootstrap.min.css" rel="stylesheet" />

}

@section Scripts {
    <script src="~/plugins/moment/moment.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/plugins/select2/select2.min.js"></script>
    <script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/plugins/timepicker/bootstrap-material-datetimepicker.js"></script>
    <script src="~/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>

    <script src="~/scripts/pages/jquery.forms-advanced.js"></script>
    @*@Scripts.Render("~/bundles/SweetAlert")
        @Scripts.Render("~/bundles/datatables")
        @Scripts.Render("~/bundles/fileUpload")
        @Scripts.Render("~/bundles/filestyle")*@
    <script>
        $(document).ready(function () {

            $('#depositdate').bootstrapMaterialDatePicker({
                weekStart: 0, format: 'DD/MM/YYYY', time: false
            });

            window.onload = function () {
                document.getElementById("Amount") = "";
                document.getElementById("UTRNo") = "";
                document.getElementById("BankName") = "";
            }
        });


        $('#SelectService').click(function () {
            // alert("action");
        });
        $('#TransactionType').change(function () {
            debugger;
            var Type = $(this).val();
            if (Type == 'Online' || TranType == "Cash") {
                $("#bnkdiv").removeClass('hide');
                $("#BankName").attr('required', 'required');
                $("#UTRdiv").removeClass('hide');
                $("#UTRNo").attr('required', 'required');
                $("#filediv").removeClass('hide');
                $("#file").attr('required', 'required');
            }
            else {
                $("#bnkdiv").addClass('hide');
                $("#BankName").attr('required', 'required');
                $("#UTRdiv").addClass('hide');
                $("#UTRNo").attr('required', 'required');
                $("#filediv").addClass('hide');
                $("#file").attr('required', 'required');
            }
        });

        $('.confirmRecharge').on('click', function (e) {
            debugger;
            var href = this.href;
            e.preventDefault();
            //alert($('.resultscore input[type="radio"]:checked').val());
            var TranType = $('.resultscore input[type="radio"]:checked').val();
            var BankName = $("#ToBankAccount option:selected").val();
            //var otherbank = $("#OtherBankName").val();
            var utrno = $("#utrno").val();
            var amt = $("#Amount").val();
            var file = $("#file").val();
            var strarray = file.split('.');
            var Extention = strarray[1];
            // if (Extention == "gif" || Extention == "jpg" || Extention == "png" || Extention == "jpeg" || Extention == "pdf" || Extention == "rar" || Extention == "zip") {
            /*if (TranType == "Online" || TranType == "CDM" || TranType == "Cash") {*/
            if (amt < 100) {
                ValidationError('Please enter amount grater than 100');
            }
            else if (BankName == "") {
                ValidationError('Please select bank name!');
            }
            else if (utrno == "") {
                ValidationError('Please enter UTR no.!');
            }
            else if (depositdate == "") {
                ValidationError('Please enter deposit date');
            }
            else if (notes == "") {
                ValidationError('Please enter notes');
            }
            else {
                swal.fire({
                    title: "Are you sure?",
                    text: "You want to send recharge request of amount : " + $("#Amount").val(),
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, I am Sure!",
                    cancelButtonText: "No, Cancel please!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }).then((result) => {
                    if (result.isConfirmed) {

                        $("#Loding").modal({ backdrop: "static" });
                        $('#Rechargeform').submit();
                        debugger;
                        swal.close();
                    } else {
                        $("#Loding").modal('hide');
                        swal.fire("Cancelled", "");
                    }
                });
            }
        }

        );
        function ValidationError(Msg) {
            swal.fire({
                title: "error",
                text: Msg,
                type: "error"
            }).then((result) => {
                //function (isConfirm) {
                if (result.isConfirmed) {
                    window.location.href = newUrl;
                }
                //        }
            }
            );
        }

        $(".allow_decimal").on("input", function (evt) {
            var self = $(this);
            self.val(self.val().replace(/[^0-9\.]/g, ''));
            if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) {
                evt.preventDefault();
            }
        });
    </script>
}
