@using NewZapures_V2.Models
@model List<PARMTVALUCONFMSTView>
@{
    ViewBag.Title = "ParameterValueConfiguration";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<AddDepartment> lstDepart = new List<AddDepartment>();
    if (ViewBag.Department != null)
    {
        lstDepart = (List<AddDepartment>)ViewBag.Department;
    }
    List<Dropdown> Parcat = new List<Dropdown>();
    if (ViewBag.PerameterCategorylst != null)
    {
        Parcat = (List<Dropdown>)ViewBag.PerameterCategorylst;
    }

}
@section styles{  @*@Styles.Render("~/bundles/datatable");*@
<link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .hidden{
            display:none;
        }
    </style>
}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">NOC</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewBag.Title</h4>

        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="mt-0 header-title float-left">Parameter Value Configuration</h4>
            </div>
            <div class="card-body loader" id="loader" style="display:none;"></div>
            <div class="card-body">
                @using (Html.BeginForm("ParameterConfigCreate", "Master", FormMethod.Post, new { @class = "formcreateupdate", @id = "frmAddUpdate", enctype = "multipart/form-data" }))
                {
                    <div class="form-group  is-empty row">
                        <div class="col-sm-3">
                            <select class="singleselect" id="iFk_Deptid" name="iFk_Deptid" required>
                                <option value="" disabled selected hidden>Select Department</option>
                                @{
                                    foreach (var item in lstDepart)
                                    {

                                        <option value="@item.DepartmentID">@item.DepartmentName </option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <select class="singleselect" data-tags="true" id="iCourseId" name="iCourseId" required>
                                @*<option value="" disabled selected hidden>Select Parameter Course</option>
                                <option value="1">BSC</option>
                                <option value="2">MCA</option>
                                <option value="3">MBA</option>
                                <option value="4">MBBS</option>*@
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select class="singleselect" data-tags="true" id="iParCatId" name="iParCatId" required>
                                <option value="" disabled selected hidden>Select Parameter Category</option>
                                @{ foreach(var item in Parcat)
                {
                                                                <option value="@item.Id">@item.Text </option>
                }
                                        }
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select class="singleselect" data-tags="true" id="iParCatSubId" name="iParCatSubId" required>
                                <option value="" disabled selected hidden>Select Parameter</option>

                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select class="singleselect" data-tags="true" id="iParUomid" name="iParUomid" required>
                                <option value="" disabled selected hidden>Select UOM</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group  is-empty row">
                        <div class="col-sm-4 row">
                            <div class="checkbox checkbox-success col-sm-3">
                                <input id="Min" name="iMin" class="styled1" type="checkbox" value="0">
                                <label for="Min" id="Minlabel" style="font-weight:bold;">
                                    Min
                                </label>
                            </div>
                            <div class="checkbox checkbox-success col-sm-3">
                                <input id="Max" name="iMax" class="styled1" type="checkbox" value="0">
                                <label for="Max" id="Maxlabel" style="font-weight:bold;">
                                    Max
                                </label>
                            </div>

                        </div>
                        <div class="col-sm-4 row">
                            <div class="checkbox checkbox-success col-sm-4" style=" margin-top:-27px">
                                <input id="iField" name="iField" class="styled2" type="checkbox" value="0">
                                <label for="iField" id="Fieldlabel" style="font-weight:bold;">
                                    Field Mandatory
                                </label>
                            </div>
                            <div class="checkbox checkbox-success col-sm-4" style=" margin-top:-27px">
                                <input id="iValue" name="iValue" class="styled2" type="checkbox" value="0">
                                <label for="iValue" id="Valuelabel" style="font-weight:bold;">
                                   Minimum Cutoff
                                </label>
                            </div>
                            <div class="checkbox checkbox-success col-sm-4">
                                <input id="iFix" name="iFix" class="styled2" type="checkbox" value="0">
                                <label for="iFix" id="Fixlabel" style="font-weight:bold;">
                                   Fix Mandatory
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  is-empty row">

                        <div class="col-sm-4 row hidden" id="MINLWDIV">
                            <label style="text-align: center;font-weight: 900;">Min Information</label>
                            <div class="input-group col-sm-4 hidden" id="MinSql">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3" style="background-color:cornflowerblue;">Length</span>
                                </div>
                                <input type="text" name="iminlength" id="iminlength" class="form-control" aria-describedby="basic-addon3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3" style="background-color:cornflowerblue;">width</span>
                                </div>
                                <input type="text" name="iminwidth" id="iminwidth" class="form-control" aria-describedby="basic-addon3">
                            </div>
                            <div class="input-group col-sm-4" id="MinNumber">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3" style="background-color:cornflowerblue;">Min Value</span>
                                </div>
                                <input type="text" name="iminval" id="iminval" class="form-control" aria-describedby="basic-addon3">
                            </div>

                        </div>

                        <div class="col-sm-4 row hidden" id="MAXLWDIV">
                            <label style="text-align: center;font-weight: 900;">Max Information</label>
                            <div class="input-group col-sm-4 hidden" id="MaxSql">

                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3" style="background-color:cornflowerblue;">Length</span>
                                </div>
                                <input type="text" name="imaxlength" id="imaxlength" class="form-control" aria-describedby="basic-addon3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3" style="background-color:cornflowerblue;">width</span>
                                </div>
                                <input type="text" name="imaxwidth" id="imaxwidth" class="form-control" aria-describedby="basic-addon3">
                            </div>
                            <div class="input-group col-sm-4" id="MaxNumber">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3" style="background-color:cornflowerblue;">Max Value</span>
                                </div>
                                <input type="text" name="imaxval" id="imaxval" class="form-control" aria-describedby="basic-addon3">
                            </div>
                        </div>
                    </div>
                    <footer class="form-footer">
                        <div class="pull-right" style="text-align: end;">
                            <a href="#" class="btn btn-default">Reset</a>
                            <button class="btn btn-primary"> Save </button>
                        </div>
                    </footer>
                }
                <hr />
                <div class="form-group is-empty row" id="showtable">
                    <table id="datatable-buttons" class="table table-striped " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>

                            <tr>
                                @*<th>
            #
        </th>*@


                                <th>Department</th>
                                <th>Course</th>
                                <th>Parameter</th>
                                <th>Item name</th>
                                <th>UOM</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Field M</th>
                                <th>Minimum Cutoff</th>
                                <th>Fix Mandatory</th>
                                <th>Active</th>
                                <th>Action</th>


                            </tr>
                        </thead>
                        <tbody id="Datalist">
                           @{ 
                               foreach(var item in Model)
            {
                                                       <tr id="tr_@item.iPK_ParValId">
                                                           <td>@item.sDeptName</td>
                                                           <td>@item.CourseName</td>
                                                           <td>@item.sCateName</td>
                                                           <td>@item.sCateSubName</td>
                                                           <td>@item.UomName</td>
                                                           <td>
                                                               @{
                                                                   if (item.iParUomid == 3)
                                                                   {
                                                                       @(item.iminlength+" X "+item.iminwidth);
                                                                   }
                                                                   else
                                                                   {
                                                                       @item.iminval
                                                                   }
                                                               }
                                                           </td>
                                                           <td>
                                                               @{
                                                                   if (item.iParUomid == 3)
                                                                   {
                                                                       @(item.imaxlength+" X "+item.imaxwidth);
                                                                   }
                                                                   else
                                                                   {
                                                                       @item.imaxval
                                                                   }
                                                               }

                                                           </td>
                                                           <td>
                                                               <div class="form-check form-switch">
                                                                   @{

                                                                       if (item.iField == 1)
                                                                       {
                                                                           <input id="SubMenuMaster-@item.iPK_ParValId" class="form-check-input ChangeStatus" type="checkbox" data-id="Field-@item.iPK_ParValId" name="@item.iPK_ParValId" value="@item.iField" checked>
                                                                       }
                                                                       else
                                                                       {
                                                                           <input id="SubMenuMaster-@item.iPK_ParValId" class="form-check-input ChangeStatus" type="checkbox" data-id="Field-@item.iPK_ParValId" name="@item.iPK_ParValId" value="@item.iField">

                                                                       }

                                                                   }

                                                               </div>
                                                           </td>
                                                           <td>
                                                               <div class="form-check form-switch">
                                                                   @{

                                                                       if (item.iValue == 1)
                                                                       {
                                                                           <input id="SubMenuMaster-@item.iPK_ParValId" class="form-check-input ChangeStatus" type="checkbox" data-id="Value-@item.iPK_ParValId" name="@item.iPK_ParValId" value="@item.iValue" checked>
                                                                       }
                                                                       else
                                                                       {
                                                                           <input id="SubMenuMaster-@item.iPK_ParValId" class="form-check-input ChangeStatus" type="checkbox" data-id="Value-@item.iPK_ParValId" name="@item.iPK_ParValId" value="@item.iValue">

                                                                       }

                                                                   }

                                                               </div>
                                                           </td>
                                                           <td>
                                                               <div class="form-check form-switch">
                                                                   @{

                                                                       if (item.iFix == 1)
                                                                       {
                                                                           <input id="SubMenuMaster-@item.iPK_ParValId" class="form-check-input ChangeStatus" type="checkbox" data-id="Value-@item.iPK_ParValId" name="@item.iPK_ParValId" value="@item.iFix" checked>
                                                                       }
                                                                       else
                                                                       {
                                                                           <input id="SubMenuMaster-@item.iPK_ParValId" class="form-check-input ChangeStatus" type="checkbox" data-id="Value-@item.iPK_ParValId" name="@item.iPK_ParValId" value="@item.iFix">

                                                                       }

                                                                   }

                                                               </div>
                                                           </td>

                                                           <td>
                                                               <div class="form-check form-switch">
                                                                   @{

                                                                       if (item.iStts == 1)
                                                                       {
                                                                           <input id="SubMenuMaster-@item.iPK_ParValId" class="form-check-input ChangeStatus" type="checkbox" data-id="Status-@item.iPK_ParValId" name="@item.iPK_ParValId" value="@item.iStts" checked>
                                                                       }
                                                                       else
                                                                       {
                                                                           <input id="SubMenuMaster-@item.iPK_ParValId" class="form-check-input ChangeStatus" type="checkbox" data-id="Status-@item.iPK_ParValId" name="@item.iPK_ParValId" value="@item.iStts">

                                                                       }

                                                                   }

                                                               </div>
                                                           </td>
                                                           <td>
                                                               @*<a href="#" class="btn btn-success btn-sm padding5" title="Update">
                <i class="fa fa-edit"></i>
            </a>*@
                                                               <a href="#" class="btn btn-danger btn-sm padding5" title="Delete">
                                                                   <i class="fa fa-times"></i>
                                                               </a>
                                                           </td>
                                                       </tr>
            }
                           }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/buttons.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/jszip.min.js" type="text/javascript"></script>
    @*<script src="~/plugins/datatables/pdfmake.min.js" type="text/javascript"></script>*@
    <script src="~/plugins/datatables/vfs_fonts.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/buttons.html5.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/buttons.print.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/buttons.colVis.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="~/plugins/datatables/responsive.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/scripts/pages/jquery.datatable.init.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script type="text/javascript">

        $(".singleselect").select2();

        //$("#iFk_Deptid").change(function () {

        //    var strHTML = "";
        //    strHTML += "<option value=''>Select Parameter Category</option>"

        //    var Params = JSON.stringify({ Deptid: $(this).val(), CrtgId:0, SubCrtgId: 0 });

        //    if ($(this).val() == "") {
        //        $("#iParCatId").select2("destroy");
        //        $("#iParCatId").html(strHTML);
        //        $("#iParCatId").select2();

        //    }


        //    $.ajax({
        //        url: "/Master/FillPerameterValue",
        //        type: 'POST',
        //        dataType: "json",
        //        contentType: "application/json",
        //        data: Params,
        //        success: function (response) {
        //            debugger;
        //            console.log(response);

        //            if (response.isvalid == 1) {
        //                for (var i = 0; i < response.Data.length; i++) {
        //                    strHTML += "<option value='" + response.Data[i].Id + "'>" + response.Data[i].Text + "</option>"
        //                }
        //            }

        //            $("#iParCatId").select2("destroy");
        //            $("#iParCatId").html(strHTML);
        //            $("#iParCatId").select2();


        //            $("#iParCatSubId").select2("destroy");
        //            $("#iParCatSubId").html("<option value=''>Select Parameter</option>");
        //            $("#iParCatSubId").select2();

        //            $("#iParUomid").select2("destroy");
        //            $("#iParUomid").html("<option value=''>Select UOM</option>");
        //            $("#iParUomid").select2();
        //            addvalidation();
        //        }
        //    });
        //});
        $("#iFk_Deptid").change(function () {
            var strHTML = "";
            strHTML += "<option value=''>Select Course</option>"

            var Params = JSON.stringify({ Deptid: $(this).val() });

            if ($(this).val() == "") {
                $("#iCourseId").select2("destroy");
                $("#iCourseId").html(strHTML);
                $("#iCourseId").select2();

            }


            $.ajax({
                url: "/Master/FillCoursebyDepartment",
                type: 'POST',
                dataType: "json",
                contentType: "application/json",
                data: Params,
                success: function (response) {
                    debugger;
                    console.log(response);

                    if (response.isvalid == 1) {
                        for (var i = 0; i < response.Data.length; i++) {
                            strHTML += "<option value='" + response.Data[i].Id + "'>" + response.Data[i].Text + "</option>"
                        }
                    }

                    $("#iCourseId").select2("destroy");
                    $("#iCourseId").html(strHTML);
                    $("#iCourseId").select2();


                }
            });
        });
        $("#iParCatId").change(function () {
            var deptid = $("#iFk_Deptid").val();
            var strHTML = "";
            strHTML += "<option value=''>Select Parameter</option>"

            var Params = JSON.stringify({ Deptid: deptid, CrtgId: $(this).val(), SubCrtgId: 0 });

            if ($(this).val() == "") {
                $("#iParCatSubId").select2("destroy");
                $("#iParCatSubId").html(strHTML);
                $("#iParCatSubId").select2();

            }


            $.ajax({
                url: "/Master/FillPerameterValue",
                type: 'POST',
                dataType: "json",
                contentType: "application/json",
                data: Params,
                success: function (response) {
                    debugger;
                    console.log(response);

                    if (response.isvalid == 1) {
                        for (var i = 0; i < response.Data.length; i++) {
                            strHTML += "<option value='" + response.Data[i].Id + "'>" + response.Data[i].Text + "</option>"
                        }
                    }

                    $("#iParCatSubId").select2("destroy");
                    $("#iParCatSubId").html(strHTML);
                    $("#iParCatSubId").select2();



                    $("#iParUomid").select2("destroy");
                    $("#iParUomid").html("<option value=''>Select UOM</option>");
                    $("#iParUomid").select2();
                    addvalidation();
                }
            });
        });
        $("#iParCatSubId").change(function () {
            var deptid = $("#iFk_Deptid").val();
            var cateid = $("#iParCatId").val();
            var strHTML = "";
            strHTML += "<option value=''>Select Parameter</option>"

            var Params = JSON.stringify({ Deptid: deptid, CrtgId: cateid, SubCrtgId: $(this).val() });

            if ($(this).val() == "") {
                $("#iParUomid").select2("destroy");
                $("#iParUomid").html(strHTML);
                $("#iParUomid").select2();

            }


            $.ajax({
                url: "/Master/FillPerameterValue",
                type: 'POST',
                dataType: "json",
                contentType: "application/json",
                data: Params,
                success: function (response) {
                    debugger;
                    console.log(response);

                    if (response.isvalid == 1) {
                        for (var i = 0; i < response.Data.length; i++) {
                            strHTML += "<option value='" + response.Data[i].Id + "'>" + response.Data[i].Text + "</option>"
                        }
                    }

                    $("#iParUomid").select2("destroy");
                    $("#iParUomid").html(strHTML);
                    $("#iParUomid").select2();

                    addvalidation();

             
                }
            });
        });
        $("#Min").change(function () {
            if ($(this).is(':checked')) {
                $("#MINLWDIV").removeClass('hidden');
                $("#Min").val('1');
            }

            else {
                $("#MINLWDIV").addClass('hidden');
                $("#Min").val('0');
            }
            addvalidation();
        });
        $("#iValue").change(function () {
            $(this).val('0');
            if ($(this).is(':checked'))
            {
                $(this).val('1');
            }
        });
        $("#iFix").change(function () {
            $(this).val('0');
            if ($(this).is(':checked')) {
                $(this).val('1');
            }
        });
        $("#iField").change(function () {
            $(this).val('0');
            if ($(this).is(':checked')) {
                $(this).val('1');
            }
        });
        $("#Max").change(function () {
            if ($(this).is(':checked')) {
                $("#MAXLWDIV").removeClass('hidden');
                $("#Max").val('1');
            }

            else {
                $("#MAXLWDIV").addClass('hidden');
                $("#Max").val('0');
            }
            addvalidation();
        });
        $("#iParUomid").change(function () {
            addvalidation();
        });
        function addvalidation() {
            debugger;
            $("input").attr("required", false);
            $("#Min").attr('required', true);
            $("#Max").attr('required', true);
            //$("#imaxval").attr('required', true);
            //$("#iminval").attr('required', true);
            var ParUomid = $("#iParUomid").val() == '' ? 0 : $("#iParUomid").val();
            if (ParUomid == 0 || ParUomid==null) {
                $("#Min").prop('checked', false);
                $("#Max").prop('checked', false);
                $("input[type=text]").val('');
                $("#Min").val('0');
                $("#Max").val('0');
                $("#MINLWDIV").addClass('hidden');
                $("#MAXLWDIV").addClass('hidden');
                return false;
            }
            var Mincheckbox = $("#Min").val();
            var Maxcheckbox = $("#Max").val();
            $("#MaxNumber").addClass('hidden');
            $("#MinNumber").addClass('hidden');
            $("#MaxSql").addClass('hidden');
            $("#MinSql").addClass('hidden');
            if (ParUomid != 3 && ParUomid != 0) {
               $("#imaxlength").val('');
                $("#imaxwidth").val('');
               $("#iminlength").val('');
                $("#iminwidth").val('');
                if (Maxcheckbox == 1) {
                    $("#MaxNumber").removeClass('hidden');
                    $("#imaxval").attr('required', true);
                    $("#Min").attr('required', false);
                }
                if (Mincheckbox == 1) {
                    $("#MinNumber").removeClass('hidden');
                    $("#iminval").attr('required', true);
                    $("#Max").attr('required', false);
                }
            }
            if (ParUomid == 3) {
                $("#imaxval").val('');
                $("#iminval").val('');
                if (Maxcheckbox == 1) {
                    $("#MaxSql").removeClass('hidden');
                    $("#imaxlength").attr('required', true);
                    $("#imaxwidth").attr('required', true);
                    $("#Min").attr('required', false);
                }
                if (Mincheckbox == 1) {
                    $("#MinSql").removeClass('hidden');
                    $("#iminlength").attr('required', true);
                    $("#iminwidth").attr('required', true);
                    $("#Max").attr('required', false);
                }
            } 
        }
    </script>
}