@using NewZapures_V2.Models
@model RoleInformation
@{
    ViewBag.Title = "Role Master";
    ViewBag.Create = "Add New Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Dropdown> departmentlist = new List<Dropdown>();
    if (ViewBag.departmentlist != null)
    {
        departmentlist = (List<Dropdown>)ViewBag.departmentlist;
    }
    var groupid = 0;
    if (Model != null)
    {
        if (Model.Type == 3)
        {
            groupid = Model.GroupId;
        }
    }
}
@section styles{
    <style>
        .hidden {
            display: none;
        }
    </style>
}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Zapures</li>
                    <li class="breadcrumb-item">Master</li>
                    <li class="breadcrumb-item active">@ViewBag.Create</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewBag.Title</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("RoleInformation", "Role", FormMethod.Post, new { @class = "formcreateupdate", @id = "frmAddUpdate", enctype = "multipart/form-data" }))
        {
            <input name="RoleinformationId" id="RoleinformationId" type="hidden" value="@(Model != null ? Model.RoleinformationId.ToString() : "0")">
            <div class="card">
                <div class="card-header">
                    <h4 class="mt-0 header-title float-left">Role/Department/Group Master</h4>
                    <a class="btn btn-gradient-secondary waves-effect waves-light float-right" href="@Url.Action("RoleIndex", "Role")"><i class="fas fa-arrow-left"></i> Back to List</a>
                    @*<button onclick="location.href='@Url.Action("Create")';return false;" class="btn btn-gradient-primary float-right waves-effect waves-light"><i class="mdi mdi-plus-circle-outline mr-2"></i> @ViewBag.Create</button>*@
                </div>
                <div class="card-body">
                    <div class="form-group is-empty row">
                        <label for="nameInput" class="col-sm-3 control-label">Type</label>
                        <div class="col-sm-6">
                            <select class="singleselect" name="Type" id="Type" @(Model.RoleinformationId != 0 ? "disabled" : "") required>

                                <option value="">Select Type</option>
                                <option @(Model != null && Model.Type == 1 ? "selected" : "") value="1">Department</option>
                                <option @(Model != null && Model.Type == 2 ? "selected" : "") value="2">Group</option>
                                <option @(Model != null && Model.Type == 3 ? "selected" : "") value="3">Role</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group is-empty row hidden" id="Department">
                        <label for="nameInput" class="col-sm-3 control-label">Department</label>
                        <div class="col-sm-6">
                            <select class="singleselect" name="DepartmentId" id="DepartmentId">
                                <option value="">Select Department</option>
                                @{
                                    foreach (var item in departmentlist)
                                    {
                                        <option @(Model != null && Model.DepartmentId == Convert.ToInt32(item.Id) ? "selected" : "") value="@item.Id">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group is-empty row hidden" id="Group">
                        <label for="nameInput" class="col-sm-3 control-label">Group</label>
                        <div class="col-sm-6">
                            <select class="singleselect" name="GroupId" id="GroupId">
                            </select>
                        </div>
                    </div>
                    <div class="form-group is-empty row">
                        <label for="nameInput" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-6">
                            <input name="Name" id="Name" type="text" value="@(Model != null ? Model.Name : "")" class="form-control" placeholder="Enter  Name" required>
                        </div>
                    </div>
                    <div class="form-group is-empty row">

                        <label for="nameInput" class="col-sm-4 control-label">Active</label>
                        <div class="col-sm-2 custom-control custom-switch switch-success">
                            <input type="checkbox" class="custom-control-input" id="Status" name="Status" value="@(Model != null? Model.Status.ToString() : "0")" @(Model != null && Model.Status == 1 ? "checked" : "")>
                            <label class="custom-control-label" for="Status"></label>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="form-footer">
                <div class="pull-right" style="text-align: end;">
                    <a href="@Url.Action("RoleIndex", "Role")" class="btn btn-default">DISCARD</a>
                    <button class="btn btn-primary"> Save </button>
                </div>
            </footer>
        }
    </div>
</div>
@section Scripts {
    <script src="~/Content/globalDomain.js"></script>
    <script type="text/javascript">
        $(".singleselect").select2();
        
        var Typedata = $("#Type").val();
        if (parseInt(Typedata) != 0) {

            Typefunction();
        }
        if (parseInt(Typedata) == 3) {

            var Id = $("#DepartmentId").val();
            BindGroup(Id)
        }
        $('input[type="checkbox"]').change(function () {
            var id = $(this).val() == 0 ? 1 : 0;
            $(this).val(id)

        })
        $("#Type").change(function () {
            Typefunction();
        });
        function Typefunction() {
            $("#GroupId").select2("destroy");
            $("#GroupId").html('');
            $("#GroupId").select2();
            var Id = $("#Type").val();
            $("#Department").addClass('hidden');
            $("#Group").addClass('hidden');
            if (Id == 2) {
                $("#Department").removeClass('hidden');
                $("#DepartmentId").prop('required', true);
            }
            if (Id == 3) {
                $("#Department").removeClass('hidden');
                $("#DepartmentId").prop('required', true);
                $("#Group").removeClass('hidden');
                $("#GroupId").prop('required', true);

            }
        }
        $("#DepartmentId").change(function () {
            var type = $("#Type").val();
            if (type == 3) {
                var Id = $("#DepartmentId").val();

                BindGroup(Id)
            }
        });
          function BindGroup(Id) {
            
            var strHTML = "";

            strHTML += "<option value=''>Select Group</option>"


            var Params = JSON.stringify(
                {
                    DepartmentId: Id

                });




            $.ajax({
                url:GetglobalDomain() + "/AdminAjaxRequestPage/FillDepartmentandGroup",
                type: 'POST',
                dataType: "json",
                contentType: "application/json",
                data: Params,
                success: function (response) {

                    


                    for (var i = 0; i < response.Data.length; i++) {
                        if ('@groupid' == response.Data[i].Id) {
                            strHTML += "<option value='" + response.Data[i].Id + "' Selected>" + response.Data[i].Text + "</option>"
                        }
                        else {
                            strHTML += "<option value='" + response.Data[i].Id + "'>" + response.Data[i].Text + "</option>"
                        }
                    }
                    $("#GroupId").select2("destroy");
                    $("#GroupId").html(strHTML);
                    $("#GroupId").select2();


                }
            });



        }
    </script>
}
