@using NewZapures_V2.Models
@model LandDetailsBO
@{
    ViewBag.Title = "Land And Building Information";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";

    //var university = ViewBag.universityCollection as List<Dropdown>;
    var courses = (List<Dropdown>)ViewBag.CourseList;

}
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />*@
<link href="~/Content/select2/css/select2.css" rel="stylesheet" />

@*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">*@
<!-- Font Awesome -->
@*<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">*@
@*<link rel="stylesheet" href="~/Content/DashboardCss/AdminLTE2/plugins/fontawesome-free/css/all.min.css">*@
<!-- Theme style -->
@*<link rel="stylesheet" href="../../dist/css/adminlte.min.css">*@
@*<link rel="stylesheet" href="~/Content/DashboardCss/AdminLTE2/css/adminlte.min.css">*@
<style type="text/css">
    .dropify-wrapper {
        display: block;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        height: 138px;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 22px;
        color: #777;
        background-color: #FFF;
        background-image: none;
        text-align: center;
        border: 2px solid #E5E5E5;
        -webkit-transition: border-color .15s linear;
        transition: border-color .15s linear;
    }

    .table thead {
        background-color: #646d91 !important;
    }

    .table th {
        color: #ffffff !important;
    }

    .fsc {
        background: #6441A5;
        background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
        background: linear-gradient(to left, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsc h4 {
            color: white !important;
        }

    .fsi {
        background: #6441A5;
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
        background: linear-gradient(to right, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsi h4 {
            color: white !important;
        }

    .fop {
        background: #B993D6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 12px;
    }

        .fop h4 {
            color: white !important;
        }

    .locationBTN {
        color: white !important;
        background: #ffbf68; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #b91d73, #ffbf68); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #b91d73, #ffbf68); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>



<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <!--<div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">NOC</li>-->
                    @*<li class="breadcrumb-item">Master</li>*@
                    <!--<li class="breadcrumb-item active">Land & Building Information</li>
                </ol>
            </div>-->
            <h4 class="page-title">@ViewBag.Title</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header fsi">
                <h4 class="mt-0 header-title float-left">Land & Building Information</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("SaveDetails", "LandBuildingInfo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row col-lg-12">
                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-sm-6">Name Of Building</label>
                            <input type="text" class="form-control" name="OwnerName" id="txtOwnerName" autocomplete="off" />
                        </div>

                        <div class="col-lg-6">
                            <label for="example-text-input" class="col-sm-6">Khasra No</label>
                            <input type="text" class="form-control" name="OwnerName" id="txtOwnerName" autocomplete="off" />
                        </div>
                    </div>

                    <div class="row col-lg-12 mt-3">

                        <div class="col-lg-6">
                            <div class="select2-purple">
                                <label for="example-text-input" class="col-sm-6">Course Running</label>
                                <select class="singleSelect" multiple="multiple" id="ddlrunningCourses" data-placeholder="Select Course">
                                    @{
                                        if (courses != null)
                                        {
                                            foreach (var item in courses)
                                            {
                                                <option value=@item.Id>@item.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        @*<div class="col-lg-6">
                                <label for="example-text-input" class="col-sm-6">Course Running</label>
                                <select class="form-control select2" name="courseRunning" id="ddlrunningCourses">
                                    <option value="0">Select Course</option>
                                    <option value="1">Course 1</option>
                                    <option value="2">Course 2</option>
                                </select>
                            </div>*@

                        <div class="col-lg-4">
                            <div style="display:flex">
                                <label for="example-text-input" class="col-sm-6">Other Course Building</label>
                                <div class="form-group custom-control custom-radio col-sm-2">
                                    <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" name="courseBuilding" id="rbtn_CourseBuildingyes" value="1">
                                    <label for="rbtn_CourseBuildingyes" class="custom-control-label" style="width: max-content;">Yes</label>
                                </div>

                                <div class="form-group custom-control custom-radio col-sm-2">
                                    <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" name="courseBuilding" id="rbtn_CourseBuildingNo" value="0">
                                    <label for="rbtn_CourseBuildingNo" class="custom-control-label" style="width: max-content;">No</label>
                                </div>
                            </div>
                            <div id="divOtherCourses" style="display: none; margin-top: -15px;">
                                <div class="select2-purple">
                                    <select class="singleSelect" multiple="multiple"  id="ddlotherCourses" data-placeholder="Select Course">
                                       
                                            @{
                                                if (courses != null)
                                                {
                                                    foreach (var item in courses)
                                                    {
                                                        <option value=@item.Id>@item.Text</option>
                                                    }
                                                }
                                            }
                                        </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row col-lg-12 mt-3">
                        <div class="col-lg-2">
                            <div style="display:flex; gap:50px">
                                <label for="example-text-input" class="col-sm-6" style="margin-left:-10px">Building</label>
                                <div class="form-group custom-control custom-radio col-sm-2">
                                    <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" name="BuildingType" id="rbtn_Buildingowned" value="1">
                                    <label for="rbtn_Buildingowned" class="custom-control-label" style="width: max-content;">Owned</label>
                                </div>

                                <div class="form-group custom-control custom-radio col-sm-2">
                                    <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" name="BuildingType" id="rbtn_BuildingRented" value="0">
                                    <label for="rbtn_BuildingRented" class="custom-control-label" style="width: max-content;">Rented</label>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="row" id="divowned" style="display:none">
                        <div class="col-lg-12">

                            <div class="col-lg-2">
                                <div style="display:flex; gap:50px">
                                    <label for="example-text-input" class="col-sm-6" style="margin-left:-10px">Land Covered</label>
                                    <div class="form-group custom-control custom-radio col-sm-2">
                                        <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" name="LandCovered" id="rbtn_LandYes" value="1">
                                        <label for="rbtn_LandYes" class="custom-control-label" style="width: max-content;">Yes</label>
                                    </div>

                                    <div class="form-group custom-control custom-radio col-sm-2">
                                        <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" name="LandCovered" id="rbtn_LandNo" value="0">
                                        <label for="rbtn_LandNo" class="custom-control-label" style="width: max-content;">No</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-12">

                            <div id="divlandYes" class="row col-lg-12" style="display: none;padding: 20px;background: #ebebeb;border-radius: 11px;">
                                <div class="col-lg-3">
                                    <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Owner Name</label>
                                    <input type="text" class="form-control" name="OwnerName" id="txtOwnerName" autocomplete="off" />
                                </div>

                                <div class="col-lg-3">
                                    <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Enter Area</label>
                                    <input type="text" class="form-control" name="OwnerName" id="txtOwnerName" autocomplete="off" />
                                </div>

                                <div class="col-lg-3">
                                    <label class="col-sm-12" style="margin-left:-10px">Certificate Document</label><br />
                                    <input class="col-sm-12" placeholder="Certificate Doc" name="LandConvertProof" type="file" id="certficateDocuFile" />
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="divRented" style="display: none;padding: 20px;background: #ebebeb;border-radius: 11px;">
                        <div class="row col-sm-12">
                            <div class="col-lg-3">
                                <label class="col-sm-12" style="margin-left:-10px">Agreement Expiry Date</label><br />
                                <input class="col-sm-12 form-control" placeholder="dd.MM.yyyy" type="date" id="certficateDocuFile" />
                            </div>
                            <div class="col-lg-3">
                                <label class="col-sm-12" style="margin-left:-10px">Upload Agreement Copy</label><br />
                                <input class="col-sm-12" placeholder="Certificate Doc" name="LandConvertProof" type="file" id="certficateDocuFile" />
                            </div>
                        </div>
                        <br />
                        <div class="row col-lg-12 mt-3">
                            <div class="col-lg-6">
                                <div class="form-group custom-control custom-checkbox col-sm-2">
                                    <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="checkbox" name="LandCovered" id="chkAcceptantion" value="1">
                                    <label for="chkAcceptantion" class="custom-control-label" style="width: max-content;">I am not running any other institions or courses in this building for other trust or society</label>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <label class="col-sm-12" style="margin-left:-10px">Upload Affidivate</label><br />
                                <input class="col-sm-12" placeholder="Certificate Doc" name="LandConvertProof" type="file" id="certficateDocuFile" />
                            </div>

                        </div>
                    </div>

                    <div style="padding: 10px;background: #999999;color: white;border-radius: 10px;font-size: 16px;font-weight: 100;margin-top:15px">
                        Current year Building saftey
                    </div>
                    <div class="mt-3">
                        <p style="font-size: 20px;text-decoration: underline;font-weight: 700;">Fire NOC Validity</p>
                        <div class="row col-lg-12">
                            <div class="col-lg-3">
                                <label class="col-sm-12" style="margin-left:-10px">From Date</label><br />
                                <input class="col-sm-12 form-control" type="date" />
                            </div>
                            <div class="col-lg-3">
                                <label class="col-sm-12" style="margin-left:-10px">To Date</label><br />
                                <input class="col-sm-12 form-control" type="date" />
                            </div>
                            <div class="col-lg-3">
                                <label class="col-sm-12" style="margin-left:-10px">Upload Fire NOC</label><br />
                                <input class="col-sm-12" placeholder="Certificate Doc" name="LandConvertProof" type="file" id="certficateDocuFile" />
                            </div>
                        </div>

                        <p style="font-size: 20px;text-decoration: underline;font-weight: 700;margin-top:30px">PWD NOC Validity</p>
                        <div class="row col-lg-12">
                            <div class="col-lg-3">
                                <label class="col-sm-12" style="margin-left:-10px">From Date</label><br />
                                <input class="col-sm-12 form-control" type="date" />
                            </div>
                            <div class="col-lg-3">
                                <label class="col-sm-12" style="margin-left:-10px">To Date</label><br />
                                <input class="col-sm-12 form-control" type="date" />
                            </div>
                            <div class="col-lg-3">
                                <label class="col-sm-12" style="margin-left:-10px">Upload PWD NOC</label><br />
                                <input class="col-sm-12" placeholder="Certificate Doc" name="LandConvertProof" type="file" id="certficateDocuFile" />
                            </div>
                        </div>

                    </div>

                    <div style="padding: 10px;background: #999999;color: white;border-radius: 10px;font-size: 16px;font-weight: 100;margin-top:30px">
                        Building Land Photos
                    </div>
                    <div class="row col-lg-12 mt-3">
                        <div class="col-lg-6">
                            <label class="col-sm-12" style="margin-left:-10px">Building Front Photo</label><br />
                            <input class="col-sm-12" placeholder="Certificate Doc" name="LandConvertProof" type="file" id="certficateDocuFile" />
                        </div>
                        <div class="col-lg-6">
                            <label class="col-sm-12" style="margin-left:-10px">Building Right Side View</label><br />
                            <input class="col-sm-12" placeholder="Certificate Doc" name="LandConvertProof" type="file" id="certficateDocuFile" />
                        </div>
                    </div>

                    <div class="row col-lg-12 mt-3">
                        <div class="col-lg-6">
                            <label class="col-sm-12" style="margin-left:-10px">Building Left Side View</label><br />
                            <input class="col-sm-12" placeholder="Certificate Doc" name="LandConvertProof" type="file" id="certficateDocuFile" />
                        </div>
                        <div class="col-lg-6">
                            <label class="col-sm-12" style="margin-left:-10px">Building Back Side View</label><br />
                            <input class="col-sm-12" placeholder="Certificate Doc" name="LandConvertProof" type="file" id="certficateDocuFile" />
                        </div>
                    </div>
                    <div class="row col-lg-12 mt-3">
                        <div class="col-lg-12">
                            <label class="col-sm-12" style="margin-left:-10px">Other Photos if Any</label><br />
                            <input class="col-sm-12" placeholder="Certificate Doc" name="LandConvertProof" type="file" id="certficateDocuFile" />
                        </div>

                    </div>



                    <div class="row">
                        <div class="form-group col-lg-12" style="text-align:right">
                            @*<button type="submit" id="btnsubmitDetails" style="display:none"></button>*@
                            <button class="btn" type="button" id="btnSave" style="color:white!important;background: #f953c6; background: -webkit-linear-gradient(to left, #b91d73, #f953c6); background: linear-gradient(to left, #b91d73, #f953c6);  "><i class="fa fa-plus"></i> Save</button>
                            @*<button class="btn btn col-sm-2" id="btnCapitalAdd" style="color:white!important;background: #f953c6; background: -webkit-linear-gradient(to left, #b91d73, #f953c6); background: linear-gradient(to left, #1d6cb9, #4f5fe0);">NEXT</button>*@
                            @*<button class="btn col-sm-2 btnNext" id="btnSaveNext">Next <i class="fas fa-arrow-right"></i></button>*@

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</div>


@*<script src="~/Content/jquery/jquery.js"></script>*@
<script src="~/Content/select2/js/select2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
<script src="~/Content/globalDomain.js"></script>
<script type="text/javascript">


    $(document).ready(function () {
        $('.singleSelect').select2();



        $("input[name='courseBuilding']").change(function () {
            var s = $(this).val();
            if (s == 1)
                $('#divOtherCourses').css('display', 'block');
            else
                $('#divOtherCourses').css('display', 'none');
        });

        $("input[name='BuildingType']").change(function () {

            var s = $(this).val();
            if (s == 1) {
                $('#divowned').css('display', 'block');
                $('#divRented').css('display', 'none');
            }
            if (s == 0) {
                $('#divowned').css('display', 'none');
                $('#divRented').css('display', 'block');
            }


        });

        $("input[name='LandCovered']").change(function () {

            var s = $(this).val();
            if (s == 1)
                $('#divlandYes').css('display', 'flex');
            else
                $('#divlandYes').css('display', 'none');
        });


        var isuserExists = '@TempData["isSaved"]'
        var message = '@TempData["msg"]'
        if (isuserExists == 1 && message.length> 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: message,
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,

                });
        }
        if (isuserExists == 0 && message.length> 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: message,
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,
                });
        }

        //$("#ddlOperator").select2({
        //    templateResult: formatState,
        //    templateSelection: formatState
        //});
        $("#ddlUniverSity").select2();

    });



    //function CheckValidation() {
    //    var status = true;
    //   // var Bankname = $('#txtBankName').val().trim();
    //    var MobileNumber = $('#txtMobileNumber').val().trim();
    //    var Email = $('#txtEmail').val().trim();
    //    var WebsiteUrl = $('#txtWebsiteurl').val().trim();
    //    var Address1 = $('#txtAddressLine1').val().trim();
    //    var Address2 = $('#txtAddressLine2').val().trim();
    //    var AdiMobileNumber = $('#txtAddiMobileNumber').val().trim();
    //    var LandlineNumber = $('#txtLandlineNumber').val().trim();

    //    if (MobileNumber.length <= 0) {
    //        Swal.fire({
    //            position: 'center',
    //            icon: 'error',
    //            title: 'Mobile Number Required...!',
    //            allowOutsideClick: false,
    //            showCloseButton: true,
    //            showConfirmButton: false
    //        })
    //        $('#txtMobileNumber').focus();
    //        $('#txtMobileNumber').val('');
    //        status = false;
    //     }
    //    else if (Email.length <= 0) {
    //         Swal.fire({
    //             position: 'center',
    //             icon: 'error',
    //             title: 'Email Id Required...!',
    //             allowOutsideClick: false,
    //             showCloseButton: true,
    //             showConfirmButton: false,
    //         })
    //         $('#txtEmail').focus();
    //         $('#txtEmail').val('');
    //         status = false;
    //     }
    //    else if (WebsiteUrl.length <= 0) {
    //        Swal.fire({
    //            position: 'center',
    //            icon: 'error',
    //            title: 'Website URL Required...!',
    //            allowOutsideClick: false,
    //            showCloseButton: true,
    //            showConfirmButton: false
    //        })
    //        $('#txtWebsiteurl').focus();
    //        $('#txtWebsiteurl').val('');
    //        status = false;
    //    }
    //    else if (Address1.length <= 0) {
    //        Swal.fire({
    //            position: 'center',
    //            icon: 'error',
    //            title: 'Address1 is Required...!',
    //            allowOutsideClick: false,
    //            showCloseButton: true,
    //            showConfirmButton: false,
    //        })
    //        $('#txtAddressLine1').focus();
    //        $('#txtAddressLine1').val('');
    //        status = false;
    //    }
    //    else if (Address2.length <= 0) {
    //        Swal.fire({
    //            position: 'center',
    //            icon: 'error',
    //            title: 'Address2 is Required...!',
    //            allowOutsideClick: false,
    //            showCloseButton: true,
    //            showConfirmButton: false,
    //        })
    //        $('#txtAddressLine2').focus();
    //        $('#txtAddressLine2').val('');
    //        status = false;
    //    }
    //    else if (AdiMobileNumber.length <= 0) {
    //        Swal.fire({
    //            position: 'center',
    //            icon: 'error',
    //            title: 'Additional Mobile Number Required...!',
    //            allowOutsideClick: false,
    //            showCloseButton: true,
    //            showConfirmButton: false
    //        })
    //        $('#txtAddiMobileNumber').focus();
    //        $('#txtAddiMobileNumber').val('');
    //        status = false;
    //    }
    //    else if (LandlineNumber.length <= 0) {
    //        Swal.fire({
    //            position: 'center',
    //            icon: 'error',
    //            title: 'Landline Number Required...!',
    //            allowOutsideClick: false,
    //            showCloseButton: true,
    //            showConfirmButton: false
    //        })
    //        $('#txtLandlineNumber').focus();
    //        $('#txtLandlineNumber').val('');
    //        status = false;
    //    }

    //    if (status) {
    //        $('#btnsubmitDetails').click();
    //    }
    //}
    function numberOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(/[^0-9]/gi, "");
    }
    function charecterOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(/[^A-Za-z]/, "");
    }
</script>



