@using NewZapures_V2.Models
@{
    ViewBag.Title = "Land & Building Information";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";

    //var university = ViewBag.universityCollection as List<Dropdown>;
    var courses = (List<Dropdown>)ViewBag.CourseList;
    var draftAppl = (TrusteeBO.DraftApplication)ViewBag.draftApplication;
    var landData = (List<LandInfoBO>)ViewBag.landDataList;

}
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />*@
<link href="~/Content/select2/css/select2.css" rel="stylesheet" />
<link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">*@
<!-- Font Awesome -->
@*<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">*@
@*<link rel="stylesheet" href="~/Content/DashboardCss/AdminLTE2/plugins/fontawesome-free/css/all.min.css">*@
<!-- Theme style -->
@*<link rel="stylesheet" href="../../dist/css/adminlte.min.css">*@
@*<link rel="stylesheet" href="~/Content/DashboardCss/AdminLTE2/css/adminlte.min.css">*@
<style type="text/css">
    .dropify-wrapper {
        display: block;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        height: 138px;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 22px;
        color: #777;
        background-color: #FFF;
        background-image: none;
        text-align: center;
        border: 2px solid #E5E5E5;
        -webkit-transition: border-color .15s linear;
        transition: border-color .15s linear;
    }

    .table thead {
        background-color: #646d91 !important;
    }

    .table th {
        color: #ffffff !important;
    }

    .fsc {
        background: #6441A5;
        background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
        background: linear-gradient(to left, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsc h4 {
            color: white !important;
        }

    .fsi {
        background: #6441A5;
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
        background: linear-gradient(to right, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsi h4 {
            color: white !important;
        }

    .fop {
        background: #B993D6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 12px;
    }

        .fop h4 {
            color: white !important;
        }

    .locationBTN {
        color: white !important;
        background: #ffbf68; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #b91d73, #ffbf68); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #b91d73, #ffbf68); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>



<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <!--<div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">NOC</li>-->
            @*<li class="breadcrumb-item">Master</li>*@
            <!--<li class="breadcrumb-item active">Land & Building Information</li>
                </ol>
            </div>-->
            <h4 class="page-title">@ViewBag.Title</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header fsi">
                <h4 class="mt-0 header-title float-left">Land & Building Information</h4>
            </div>
            <div class="card-body">

                <div class="row col-lg-12">
                    <div class="col-lg-6">
                        <label for="example-text-input" class="col-sm-6" style="margin-left:-10px"><strong>Land Area Situated In</strong></label>
                        <select class="singleSelect" id="ddlLandArea">
                            <option value="0">Select Area</option>
                            <option value="Jaipur JDA AREA">Jaipur JDA AREA</option>
                            <option value="JodhpurJDA AREA">Jodhpur JDA AREA</option>
                            <option value="Ajmer JDA AREA">Ajmer JDA AREA</option>
                            <option value="Division Headquater Area">Division Headquater Area</option>
                            <option value="District Headquater Area">District Headquater Area</option>
                            <option value="Urban Bodies">Urban Bodies</option>
                            <option value="OTHER AREA">OTHER AREA</option>
                        </select>
                    </div>

                    <div class="col-lg-6">
                        <label for="example-text-input" class="col-sm-6" style="margin-left:-10px"><strong>Land Document Type</strong></label>
                        <select class="singleSelect" id="ddlLandDocType">
                            <option value="0">Select Document Type</option>
                            <option value="PATTA">PATTA</option>
                            <option value="Sale DEED">Sale DEED</option>
                            <option value="Gift DEED">Gift DEED</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>

                <div class="row col-lg-12 mt-3">

                    <div class="col-lg-12">
                        <div class="select2-purple">
                            <label for="example-text-input" class="col-sm-12" style="margin-left:-10px"><strong>Is Land converted to Institution/Education</strong></label>
                            <select class="singleSelect" id="ddlLandConvert">
                                <option value="0">Select Conversion</option>
                                <option value="Fully Converted">Fully Converted</option>
                                <option value="Partially Converted">Partially Converted</option>
                                <option value="Not Converted">Not Converted</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row col-lg-12 mt-3" id="divConverted" style="display:none">
                    <div class="col-lg-4">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px"><strong>Order Number</strong></label>
                        <input type="text" class="form-control" id="txtOrderNo" autocomplete="off" />
                    </div>

                    <div class="col-lg-4">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px"><strong>Order Date</strong></label>
                        <input type="date" class="form-control" id="txtOrderDate" autocomplete="off" />
                    </div>

                    <div class="col-lg-4">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px"><strong>Attach your converted Document</strong></label>
                        <input type="file" class="form-control-file" id="fluConvertedDoc" onchange="return encodeImageFileAsURL(this,'hdnConvertedDoc','hdnConvertedDocExten')" autocomplete="off" />
                        <input type="hidden" id="hdnConvertedDoc" />
                        <input type="hidden" id="hdnConvertedDocExten" />
                    </div>
                </div>

                <div class="row col-lg-12 mt-3">
                    <div class="col-lg-4">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px"><strong>Land Type</strong></label>
                        <select class="singleSelect" id="ddlLandType">
                            <option value="0">Select Land Type</option>
                            <option value="Agriculture">Agriculture</option>
                            <option value="Commercial">Commercial</option>
                            <option value="Instituional">Instituional</option>
                            <option value="Residencial">Residencial</option>
                        </select>
                    </div>

                    <div class="col-lg-4">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px"><strong>Khasra No</strong></label>
                        <input type="text" class="form-control" id="txtkhasaraNo" autocomplete="off" />
                    </div>

                    <div class="col-lg-4">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px"><strong>Land Area (sqMtr)</strong></label>
                        <input type="text" class="form-control col-sm-12" id="txtLandArea" oninput="numberOnly(this.id)" autocomplete="off" />
                    </div>
                </div>

                <div class="row col-lg-12 mt-3">
                    <div class="col-lg-5">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px"><strong>Land Title Certificate</strong></label>
                        <input type="file" class="form-control-file" id="flulandTitleCertificate" onchange="return encodeImageFileAsURL(this,'hdnlandTitleCertificate','hdnlandTitleCertificateExten')" autocomplete="off" />
                        <input type="hidden" id="hdnlandTitleCertificate" />
                        <input type="hidden" id="hdnlandTitleCertificateExten" />
                    </div>

                    <div class="col-lg-5">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px"><strong>Land Document</strong></label>
                        <input type="file" class="form-control-file" id="flulandDocument" onchange="return encodeImageFileAsURL(this,'hdnlandDocument','hdnlandDocumentExten')" autocomplete="off" />
                        <input type="hidden" id="hdnlandDocument" />
                        <input type="hidden" id="hdnlandDocumentExten" />
                    </div>

                    <div class="col-lg-2">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">&nbsp;</label>
                        <button class="btn" type="button" id="btnAdd" style="color: black!important;background: #ffbf68;background: -webkit-linear-gradient(to left, #b91d73, #f953c6);background: linear-gradient(to left, #ffbf62, #ffbf68);border: black;"><i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>

                <div class="row col-lg-12 mt-3">
                    <div class="col-lg-4" id="divLandConvertDoc" style="display:none">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">&nbsp;</label>
                        <a href="~/LandDocuments/Affidavit Document for Coversion.pdf" class="btn" id="btnDownloadConvertedDoc" download="LandConversion" style="color: black!important;background: #ffbf68;background: -webkit-linear-gradient(to left, #b91d73, #f953c6);background: linear-gradient(to left, #ffbf62, #ffbf68);border: black;"><i class="fa fa-download"></i> Download Converted Document File</a>
                    </div>

                    <div class="col-lg-4" id="divLandTitleDoc">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">&nbsp;</label>
                        <a href="~/LandDocuments/Land Title Certificate.pdf" class="btn" id="btnDownloadLandTitle" download="LandTitle" style="color: black!important;background: #ffbf68;background: -webkit-linear-gradient(to left, #b91d73, #f953c6);background: linear-gradient(to left, #ffbf62, #ffbf68);border: black;"><i class="fa fa-download"></i> Download Land Title Certificate File</a>
                    </div>

                    <div class="col-lg-4" id="divLandDoc">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">&nbsp;</label>
                        <a href="~/LandDocuments/Certificate of Land & Rented Building.pdf" class="btn" id="btnDownloadLandDoc" download="LandDocument" style="color: black!important;background: #ffbf68;background: -webkit-linear-gradient(to left, #b91d73, #f953c6);background: linear-gradient(to left, #ffbf62, #ffbf68);border: black;"><i class="fa fa-download"></i> Download Land Document File</a>
                    </div>

                    <p style="padding: 15px;color: red;"><i>Disclaimer : please download the documents first, then fill the form accordingly and the upload the same</i></p>
                </div>
                <hr />
                <div class="row col-lg-12 mt-3">
                    <div class="col-lg-2">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px"><strong>Total Area</strong></label>
                        <input type="text" class="form-control" id="txtTotalArea" autocomplete="off" value="0" disabled readonly />
                    </div>
                    <div class="col-lg-10" style="text-align: end;">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px"><strong>&nbsp;</strong></label>
                        <button class="btn" type="button" id="btnSave" style="color: black!important;background: #ffbf68;background: -webkit-linear-gradient(to left, #b91d73, #f953c6);background: linear-gradient(to left, #ffbf62, #ffbf68);border: black;"><i class="fa fa-save"></i> Save Details</button>
                    </div>
                    <div class="col-lg-12" style="overflow-x: scroll;">
                        <table class="table table-borderless" id="tblLandInfo" style="width: max-content;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Land Situated</th>
                                    <th>Land Doc Type</th>
                                    <th>Is Convereted</th>
                                    <th>Order No</th>
                                    <th>Order Date</th>
                                    <th>Land Type</th>
                                    <th>Khasara Number</th>
                                    <th>Land Area</th>
                                    <th>Total Area</th>
                                    <th>Converted Doc</th>
                                    <th>Land Title Doc</th>
                                    <th>Land Doc</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (landData != null && landData.Count > 0)
                                    {
                                        @*var i = 1;
                                            foreach (var item in landData)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td><span style="padding: 8px;background: red;color: white;border-radius: 18px;"><i class="far fa-trash-alt"></i></span> : @item.sLndArea</td>
                                                    <td>@item.sLndDocType</td>
                                                    <td>@item.sIsLndCnvrted</td>
                                                    <td>@item.sOrdrNo</td>
                                                    <td>@item.dtOrdrDate</td>
                                                    <td>@item.sLndTyp</td>
                                                    <td>@item.sKhasaraNo</td>
                                                    <td>@item.dLndArea</td>
                                                    <td>@item.dTotalArea</td>
                                                    <td>""</td>
                                                    <td>""</td>
                                                    <td>""</td>
                                                </tr>
                                                i++;
                                            }*@
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="13" class="text-center"></td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td colspan="13" class="text-center">No Data Available</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>




</div>


@*<script src="~/Content/jquery/jquery.js"></script>*@
<script src="~/Content/select2/js/select2.js"></script>
@*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>*@

<script src="~/Content/sweetalert2.all.min.js"></script>
<script src="~/Content/globalDomain.js"></script>
<script type="text/javascript">

    var landInfoData = [];
    var imagebase64 = "";

    $(document).ready(function () {
        $('.singleSelect').select2();

        SomeFunction();

        $('#ddlLandConvert').change(function () {
            var selectedItem = $(this).val();
            if (selectedItem != 'Not Converted') {
                $('#divConverted').css('display', 'flex');
                $('#divLandConvertDoc').css('display', 'block').addClass('col-lg-4');
                $('#divLandTitleDoc').removeClass('col-lg-6').addClass('col-lg-4');
                $('#divLandDoc').removeClass('col-lg-6').addClass('col-lg-4');
            }
            else {
                $('#divConverted').css('display', 'none');
                $('#divLandConvertDoc').css('display', 'none');
                $('#divLandTitleDoc').removeClass('col-lg-4').addClass('col-lg-6');
                $('#divLandDoc').removeClass('col-lg-4').addClass('col-lg-6');
            }
        })

        $('#btnAdd').click(function () {
            var htmlString = "";
            if (CheckValidation()) {
                var landArea = $('#ddlLandArea option:selected').text().trim();
                var landDocType = $('#ddlLandDocType option:selected').text().trim();
                var landConverted = $('#ddlLandConvert option:selected').text().trim();
                var landType = $('#ddlLandType option:selected').text().trim();
                var orderNo = $('#txtOrderNo').val().trim();
                var orderDate = $('#txtOrderDate').val().trim();
                var khasaraNo = $('#txtkhasaraNo').val().trim();
                var landAreaUnit = $('#txtLandArea').val().trim();
                var totalArea = $('#txtTotalArea').val().trim();

                //LandConverted
                var convertedDoc = $('#hdnConvertedDoc').val().split(',')[1];
                var convertedDocExte = ($('#hdnConvertedDocExten').val().split('.')[1] === undefined || $('#hdnConvertedDocExten').val().split('.')[1] === null) ? "" : "."+$('#hdnConvertedDocExten').val().split('.')[1];
                var convertedDocContent = $('#hdnConvertedDoc').val().split(',')[0];
                if (convertedDocContent.length > 0) {

                convertedDocContent = convertedDocContent.split(':')[1];
                convertedDocContent = convertedDocContent.split(';')[0];
                }
                var convertedDocFullURL = $('#hdnConvertedDoc').val();

                //Land Title
                var landTitleDoc = $('#hdnlandTitleCertificate').val().split(',')[1];
                var landTitleDocExte = ($('#hdnlandTitleCertificateExten').val().split('.')[1] === undefined || $('#hdnlandTitleCertificateExten').val().split('.')[1] === null) ? "" : "."+$('#hdnlandTitleCertificateExten').val().split('.')[1];
                var landTitleDocContent = $('#hdnlandTitleCertificate').val().split(',')[0];
                if (landTitleDocContent.length > 0) {

             landTitleDocContent = landTitleDocContent.split(':')[1];
             landTitleDocContent = landTitleDocContent.split(';')[0];
                }
                var landTitleDocFullURL = $('#hdnlandTitleCertificate').val();

                //Land Document
                var landDoc = $('#hdnlandDocument').val().split(',')[1];
                var landDocExte = ($('#hdnlandDocumentExten').val().split('.')[1] === undefined || $('#hdnlandDocumentExten').val().split('.')[1] === null) ? "" : "."+$('#hdnlandDocumentExten').val().split('.')[1];
                var landDocContent = $('#hdnlandDocument').val().split(',')[0];
                if (landDocContent.length > 0) {

             landDocContent = landTitleDocContent.split(':')[1];
             landDocContent = landTitleDocContent.split(';')[0];
                }
                var landDocFullURL = $('#hdnlandDocument').val();

                totalArea = (totalArea.length <= 0) ? 0 : parseFloat(totalArea);

                //console.log('base64', convertedDoc);
                //console.log('Exten', convertedDocExte);
                //console.log('content', convertedDocContent);

                landInfoData.push({
                    UnQID: CreateGuid(),
                    iDeptID: parseInt('@draftAppl.iFKDEPT_ID'),
                    iCorsID: parseInt('@draftAppl.iFK_CORS_ID'),
                    iClgID: parseInt('@draftAppl.clgID'),
                    iFinyr: parseInt('@draftAppl.iFK_Finyr'),
                    iTrstID: parseInt('@draftAppl.iFKTst_ID'),
                    sApplGUID: '@draftAppl.ApplGuid',
                    sLndArea: landArea,
                    sLndDocType: landDocType,
                    sIsLndCnvrted: landConverted,
                    sOrdrNo: (orderNo.length <= 0) ? "": orderNo,
                    dtOrdrDate: (orderDate.length <= 0) ? "" : orderDate,
                    sLndTyp: landType,
                    sKhasaraNo: khasaraNo,
                    dLndArea: landAreaUnit,
                    dTotalArea: (parseFloat(totalArea) + parseFloat(landAreaUnit)),

                    UploadConvertedDocument: (convertedDoc === undefined || convertedDoc === null) ? "" : convertedDoc,
                    UploadConvertedDocumentExtension: convertedDocExte,
                    UploadConvertedDocumentContent: convertedDocContent,
                    lndConvertURL: (convertedDocFullURL.length <= 0) ? "#" : convertedDocFullURL,

                    UploadLandTitleDoc: (landTitleDoc === undefined || landTitleDoc === null) ? "" : landTitleDoc,
                    UploadLandTitleDocExtension: landTitleDocExte,
                    UploadLandTitleDocContent: landTitleDocContent,
                    lndTitleURL: (landTitleDocFullURL.length <= 0) ? "#" : landTitleDocFullURL,

                    UploadLandDoc: (landDoc === undefined || landDoc === null) ? "" : landDoc,
                    UploadLandDocExtension: landDocExte,
                    UploadLandDocContent: landDocContent,
                    landDocURL: (landDocFullURL.length <= 0) ? "#" : landDocFullURL,

                });

                console.table(landInfoData);

                $('#txtTotalArea').val(0);
                if (landInfoData.length <= 0) {
                    htmlString += `<td colspan="14" class="text-center">No Data Available</td>`

                    $("#tblLandInfo tbody").html('');
                    $("#tblLandInfo tbody").html(htmlString);
                }
                else {
                    landInfoData.forEach(function (item, index) {
                        console.log(item.UploadConvertedDocument);
                        var landConvertedURL = (item.UploadConvertedDocument == null || item.UploadConvertedDocument=='') ? `NA` : `<a href="${item.UploadConvertedDocument}" download="${item.sKhasaraNo}_LandConvert" target="_blank" alt="Red dot"><i class="fa fa-download"></i></a>`;
                        var landTitleURL = (item.UploadLandTitleDoc == null || item.UploadLandTitleDoc =='') ? `NA` : `<a href="${item.UploadLandTitleDoc}" download="${item.sKhasaraNo}_landTitle" target="_blank" alt="Red dot"><i class="fa fa-download"></i></a>`;
                        var landDocumentURL = (item.UploadLandDoc == null || item.UploadLandDoc =='') ? `NA` : `<a href="${item.UploadLandDoc}" download="${item.sKhasaraNo}_LandDoc" target="_blank" alt="Red dot"><i class="fa fa-download"></i></a>`;

                        htmlString += `<tr><td>${index + 1}</td>
                                            <td><span style="padding: 8px;background: red;color: white;border-radius: 18px;" onclick="deleteRow('${item.UnQID}')"><i class="far fa-trash-alt"></i></span> : ${item.sLndArea}</td>
                                            <td>${item.sLndDocType}</td>
                                            <td>${item.sIsLndCnvrted}</td>
                                            <td>${item.sOrdrNo}</td>
                                            <td>${item.dtOrdrDate}</td>
                                            <td>${item.sLndTyp}</td>
                                            <td>${item.sKhasaraNo}</td>
                                            <td>${item.dLndArea}</td>
                                            <td>${item.dTotalArea}</td>
                                            <td class="text-center"><span>${landConvertedURL}</span></td>
                                            <td class="text-center"><span>${landTitleURL}</span></td>
                                            <td class="text-center"><span>${landDocumentURL}</span></td>
                                            </tr>`

                        $('#txtTotalArea').val(item.dTotalArea);
                    });
                    $("#tblLandInfo tbody").html('');
                    $("#tblLandInfo tbody").append(htmlString);
                    ClearAllData();
                }

            }
        });

        $('#btnSave').click(function () {
            saveDetails();
        });


        @*var isuserExists = '@TempData["isSaved"]'
        var message = '@TempData["msg"]'
        if (isuserExists == 1 && message.length> 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: message,
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,

                });
        }
        if (isuserExists == 0 && message.length> 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: message,
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,
                });
        }*@

    });


    function SomeFunction() {
    var htmlString = "";
    var array = @Html.Raw(Json.Encode(ViewBag.landDataList));
    for(var i = 0; i < array.length; i++) {
        landInfoData.push(array[i]);
        }
        landInfoData.forEach(function (item, index) {

            var landConvertedURL = (item.UploadConvertedDocument == null) ? `NA` : `<a href="${item.UploadConvertedDocument}" download="${item.sKhasaraNo}_LandConvert" target="_blank" alt="Red dot"><i class="fa fa-download"></i></a>`;
            var landTitleURL = (item.UploadLandTitleDoc == null) ? `NA` : `<a href="${item.UploadLandTitleDoc}" download="${item.sKhasaraNo}_landTitle" target="_blank" alt="Red dot"><i class="fa fa-download"></i></a>`;
            var landDocumentURL = (item.UploadLandDoc ==null) ? `NA` : `<a href="${item.UploadLandDoc}" download="${item.sKhasaraNo}_LandDoc" target="_blank" alt="Red dot"><i class="fa fa-download"></i></a>`;

            item.UnQID = CreateGuid();
            console.log(item.UnQID)
            htmlString += `<tr><td>${index + 1}</td>
                                            <td><span style="padding: 8px;background: red;color: white;border-radius: 18px;" onclick="deleteRow('${item.UnQID}')"><i class="far fa-trash-alt"></i></span> : ${item.sLndArea}</td>
                                            <td>${item.sLndDocType}</td>
                                            <td>${item.sIsLndCnvrted}</td>
                                            <td>${item.sOrdrNo}</td>
                                            <td>${item.dtOrdrDate}</td>
                                            <td>${item.sLndTyp}</td>
                                            <td>${item.sKhasaraNo}</td>
                                            <td>${item.dLndArea}</td>
                                            <td>${item.dTotalArea}</td>
                                            <td class="text-center"><span>${landConvertedURL}</span></td>
                                            <td class="text-center"><span>${landTitleURL}</span></td>
                                            <td class="text-center"><span>${landDocumentURL}</span></td>
                                            </tr>`

            $('#txtTotalArea').val(item.dTotalArea);
        });
        $("#tblLandInfo tbody").html('');
        $("#tblLandInfo tbody").html(htmlString);
}


    function saveDetails() {
        var VertinaryModal = {
            trg: landInfoData
        }

        var d = JSON.stringify(VertinaryModal);
        //console.log(d);
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: GetglobalDomain() + "/LandBuildingInfo/SaveDetails",
            dataType: 'json',
            type: 'Post',
            cache: false,
            data: JSON.stringify(VertinaryModal),
            success: function (data) {
                //console.log('ajax');
                //console.log(data);

                if (data.StatusCode == 1) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: data.Message,
                        allowOutsideClick: false,
                        showCloseButton: true,
                        showConfirmButton: false,
                    });
                }


            },
            error: function (d) {
                console.log(d);
            }
        });
    }


    function ClearAllData() {

        $('#ddlLandArea').select2('destroy');
        $('#ddlLandArea').val(0);
        $('#ddlLandArea').select2();

        $('#ddlLandDocType').select2('destroy');
        $('#ddlLandDocType').val(0);
        $('#ddlLandDocType').select2();


        $('#ddlLandConvert').select2('destroy');
        $('#ddlLandConvert').val(0);
        $('#ddlLandConvert').select2();

        $('#ddlLandType').select2('destroy');
        $('#ddlLandType').val(0);
        $('#ddlLandType').select2();

        $('#txtOrderNo').val('')
        $('#txtOrderDate').val('')
        $('#txtkhasaraNo').val('')
        $('#txtLandArea').val('')

        $('#divConverted').css('display', 'none');

        //LandConverted
        $('#hdnConvertedDocExten').val('')
        $('#hdnConvertedDoc').val('')

        //Land Title
        $('#hdnlandTitleCertificateExten').val('')
        $('#hdnlandTitleCertificate').val('')

        //Land Document
         $('#hdnlandDocumentExten').val('')
        $('#hdnlandDocument').val('')

        $('#flulandDocument').val('');
        $('#flulandTitleCertificate').val('');
        $('#fluConvertedDoc').val('');

    }

    function encodeImageFileAsURL(element,hdnId,hdnExtnID) {
        var elementID = element.id;
        var file = element.files[0];
        console.log(file.name);
        //console.log(elementID);
        var reader = new FileReader();
        reader.onloadend = function () {
            imagebase64 = reader.result;
            $('#' + hdnId).val(imagebase64);
            $('#' + hdnExtnID).val(file.name);
            //console.log(imagebase64)
            //console.log(hdnId)
        }
        reader.readAsDataURL(file);
        return imagebase64;
    }

    function CheckValidation() {
        var status = true;
        var landArea = $('#ddlLandArea option:selected').text().trim();
        var landDocType = $('#ddlLandDocType option:selected').text().trim();
        var landConverted = $('#ddlLandConvert option:selected').text().trim();
        var landType = $('#ddlLandType option:selected').text().trim();
        var orderNo = $('#txtOrderNo').val().trim();
        var orderDate = $('#txtOrderDate').val().trim();
        var khasaraNo = $('#txtkhasaraNo').val().trim();
        var landAreaUnit = $('#txtLandArea').val().trim();
        if (landArea == "Select Area") {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Please Select Land Area...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false
            })
            status = false;
        }
        else if (landDocType == "Select Document Type") {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Please Select Land Document Type...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false
            })
            status = false;
        }
        else if (landConverted == "Select Conversion") {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Please Select Land Conversion...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false
            })
            status = false;
        }
        else if (landConverted != "Not Converted") {
            if (orderNo.length <= 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'Please Enter Order Number..!',
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false
                })
                status = false;
            }
           else if (orderDate.length <= 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'Please Enter Order Date..!',
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false
                })
                status = false;
            }
            else if (landType == "Select Land Type") {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'Please Select Land Type...!',
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,
                })
                status = false;
            }
            else if (khasaraNo.length <= 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'Please Enter Khasara Number...!',
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false
                })
                status = false;
            }
            else if (landAreaUnit.length <= 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'Please Enter Land Area...!',
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,
                })
                status = false;
            }

        }
        else if (landType == "Select Land Type") {
             Swal.fire({
                 position: 'center',
                 icon: 'error',
                 title: 'Please Select Land Type...!',
                 allowOutsideClick: false,
                 showCloseButton: true,
                 showConfirmButton: false,
             })
             status = false;
         }
        else if (khasaraNo.length <= 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Please Enter Khasara Number...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false
            })
            status = false;
        }
        else if (landAreaUnit.length <= 0) {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Please Enter Land Area...!',
                allowOutsideClick: false,
                showCloseButton: true,
                showConfirmButton: false,
            })
            status = false;
        }

        if (landInfoData.length > 0) {
          /*  alert(landInfoData.length);*/
            debugger;
            landInfoData.forEach(function (item) {
                if (landConverted != "Not Converted") {
                    if (landArea == item.sLndArea && landDocType == item.sLndDocType && landConverted == item.sIsLndCnvrted && (orderNo == item.sOrdrNo || item.sOrdrNo == "NA") && (orderDate == item.dtOrdrDate || item.dtOrdrDate == "NA") && landType == item.sLndTyp && khasaraNo == item.sKhasaraNo && landAreaUnit == item.dLndArea) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: "Duplicate Entry",
                            html: "<p>The Details you have entered are already exists into the table, Please try again find different values</p>",
                            allowOutsideClick: false,
                            showCloseButton: true,
                            showConfirmButton: false,
                        });
                        status = false;
                    }
                }
                else {
                    if (landArea == item.sLndArea && landDocType == item.sLndDocType && landConverted == item.sIsLndCnvrted && landType == item.sLndTyp && khasaraNo == item.sKhasaraNo && landAreaUnit == item.dLndArea) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: "Duplicate Entry",
                            html: "<p>The Details you have entered are already exists into the table, Please try again find different values</p>",
                            allowOutsideClick: false,
                            showCloseButton: true,
                            showConfirmButton: false,
                        });
                        status = false;
                    }
                }
            });
        }
        return status;
    }

    function deleteRow(UniqueID)
    {
        var htmlString = "";
        landInfoData = landInfoData.filter(function (e) {
            return e.UnQID !== UniqueID;
        })

        console.table(landInfoData);

        $('#txtTotalArea').val(0);
        if (landInfoData.length <= 0) {
            htmlString += `<td colspan="14" class="text-center">No Data Available</td>`

            $("#tblLandInfo tbody").html('');
            $("#tblLandInfo tbody").html(htmlString);
        }
        else {
            landInfoData.forEach(function (item, index) {
                var landConvertedURL = (item.UploadConvertedDocument == null || item.UploadConvertedDocument == '') ? `NA` : `<a href="${item.UploadConvertedDocument}" download="${item.sKhasaraNo}_LandConvert" target="_blank" alt="Red dot"><i class="fa fa-download"></i></a>`;
                var landTitleURL = (item.UploadLandTitleDoc == null || item.UploadLandTitleDoc == '') ? `NA` : `<a href="${item.UploadLandTitleDoc}" download="${item.sKhasaraNo}_landTitle" target="_blank" alt="Red dot"><i class="fa fa-download"></i></a>`;
                var landDocumentURL = (item.UploadLandDoc == null || item.UploadLandDoc == '') ? `NA` : `<a href="${item.UploadLandDoc}" download="${item.sKhasaraNo}_LandDoc" target="_blank" alt="Red dot"><i class="fa fa-download"></i></a>`;

                item.UnQID = CreateGuid();
                console.log(item.UnQID)

                htmlString += `<tr><td>${index + 1}</td>
                                            <td><span style="padding: 8px;background: red;color: white;border-radius: 18px;" onclick="deleteRow('${item.UnQID}')"><i class="far fa-trash-alt"></i></span> : ${item.sLndArea}</td>
                                            <td>${item.sLndDocType}</td>
                                            <td>${item.sIsLndCnvrted}</td>
                                            <td>${item.sOrdrNo}</td>
                                            <td>${item.dtOrdrDate}</td>
                                            <td>${item.sLndTyp}</td>
                                            <td>${item.sKhasaraNo}</td>
                                            <td>${item.dLndArea}</td>
                                            <td>${item.dTotalArea}</td>
                                            <td class="text-center"><span>${landConvertedURL}</span></td>
                                            <td class="text-center"><span>${landTitleURL}</span></td>
                                            <td class="text-center"><span>${landDocumentURL}</span></td>
                                            </tr>`

                $('#txtTotalArea').val(item.dTotalArea);
            });
            $("#tblLandInfo tbody").html('');
            $("#tblLandInfo tbody").append(htmlString);
       /*     ClearAllData();*/
        }


    }
    function numberOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(/[^0-9]/gi, "");
    }
    function charecterOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(/[^A-Za-z]/, "");
    }

    function CreateGuid() {
        function _p8(s) {
            var p = (Math.random().toString(16) + "000000000").substr(2, 8);
            return s ? "-" + p.substr(0, 4) + "-" + p.substr(4, 4) : p;
        }
        return _p8() + _p8(true) + _p8(true) + _p8();
    }

</script>



