@using NewZapures_V2.Models
@{
    ViewBag.Title = "Edit Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var eAppNo = (string)ViewBag.appNo;
    var etrustName = (string)ViewBag.trustName;
    var etrustID = (int)ViewBag.trustID;
    var eclgname = (string)ViewBag.clgname;
    var edept = (string)ViewBag.dept;
    var ecours = (string)ViewBag.cours;
    var deptID = (int)ViewBag.dptID;
    var ecourseID = (int)ViewBag.courseID;
    var eClgID = (int)ViewBag.clgID;
    var eGuid = (string)ViewBag.Guid;
    var trusteeMember = (List<TrusteeBO.TrusteeMember>)ViewBag.trusteeMember;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />



<style type="text/css">
    .dropify-wrapper {
        display: block;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        height: 138px;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 22px;
        color: #777;
        background-color: #FFF;
        background-image: none;
        text-align: center;
        border: 2px solid #E5E5E5;
        -webkit-transition: border-color .15s linear;
        transition: border-color .15s linear;
    }

    .table thead {
        background-color: #646d91 !important;
    }

        .table thead > tr > th {
            color: white
        }


    .fsc {
        background: #6441A5;
        background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
        background: linear-gradient(to left, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsc h4 {
            color: white !important;
        }

    .fsi {
        background: #6441A5;
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
        background: linear-gradient(to right, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsi h4 {
            color: white !important;
        }

    .fop {
        background: #B993D6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 12px;
    }

        .fop h4 {
            color: white !important;
        }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">NOC</li>
                    <li class="breadcrumb-item">Master</li>
                    <li class="breadcrumb-item active">Edit Application</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewBag.Title</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

<div class="card">
    <div class="card-header fsc">
        <h4 class="mt-0 header-title float-left">Edit Application Details</h4>
        <div class="form-group" style="text-align:right">
            <a href="@Url.Action("DraftApplication","Trustee",new {Guid=SessionModel.ApplicantGuid })" style="font-size: 15px ; color: white;  font-family: 'Ubuntu', sans-serif;" class="btn btn-gradient-successnav-link btn btn-success">Back</a>
        </div>
    </div>
    <div class="card-body ">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <tr>
                    <td>Application Number :</td>
                    <td>@eAppNo</td>
                    <td>Trust Name</td>
                    <td>@etrustName</td>
                </tr>
                <tr><td colspan="4" style="background: #bdbdbd;">Trust Members</td></tr>
                @{
                    if (trusteeMember != null)
                    {
                        <tr><th>Member Name</th><th colspan="3">Is Primary</th></tr>
                        foreach (var item in trusteeMember)
                        {
                            <tr><td>@item.sPrsnName</td><td colspan="3">@item.iisprimary</td></tr>
                        }
                    }
                }
                <tr>
                    <td>College Name :</td>
                    <td>@eclgname</td>
                    <td>Course</td>
                    <td>@ecours</td>
                </tr>
                <tr><td colspan="4" style="background: #bdbdbd;"><div style="display: flex;place-content: space-between;"><span>Application Forms</span><a href="@Url.Action("ApplicationPreview","Trustee",new {applicationNo=eAppNo,trustName=etrustName,trustID=etrustID,clgName=eclgname,dptname=edept,cours=ecours,deptID=deptID,courseID=ecourseID, clgID=eClgID})" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> Preview My Application</a></div></td></tr>
                <tr>
                    <td colspan="4">
                        <table class="table table-striped">
                            <tr><td> <a href="@Url.Action("Index", "LandBuildingInfo", new {appNo=eAppNo,deptID=deptID})" target="_blank"><i class="fa fa-plus"></i> Add Land and Building Information</a></td></tr>
                            <tr><td><a href="@Url.Action("CreateData","SubjectMaster",new {appNo=eAppNo})" target="_blank"><i class="fa fa-plus"></i> Add Subject Covered</a> </td></tr>
                            <tr><td><a href="@Url.Action("Index","FeeDetails")" target="_blank"><i class="fa fa-plus"></i> Add College Fee Structure</a></td></tr>
                            <tr><td><a href="@Url.Action("ArchitectureDetail","Master",new {appNo=eAppNo})" target="_blank"><i class="fa fa-plus"></i> Add Architectrual Details</a></td></tr>
                            <tr><td><a href="@Url.Action("CollageFacilitys","Trustee")" target="_blank"><i class="fa fa-plus"></i> Add Other Facilites</a></td></tr>
                            <tr><td><a href="@Url.Action("Index","Staff")" target="_blank"><i class="fa fa-plus"></i> Add Staff Details</a></td></tr>
                            <tr><td><a href="@Url.Action("Index","AcdmcMst",new {appNo=eAppNo})" target="_blank"><i class="fa fa-plus"></i> Add Acadmy Information</a></td></tr>
                            <tr><td><a href="@Url.Action("CollageAttachment","Trustee",new {appNo=eAppNo,TrustId=etrustID,CourseId=ecourseID,CollageId=eClgID})" target="_blank"><i class="fa fa-plus"></i> Add Proof Document</a></td></tr>
                       


                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>;[]
</div>
@section scripts {
    <script src="~/plugins/dropify/js/dropify.min.js"></script>
    <script src="~/scripts/pages/jquery.form-upload.init.js"></script>
}