@using NewZapures_V2.Models
@{
    ViewBag.Title = "Edit Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var eAppNo = (string)ViewBag.appNo;
    //var etrustName = (string)ViewBag.trustName;
    //var etrustID = (int)ViewBag.trustID;
    //var eclgname = (string)ViewBag.clgname;
    //var edept = (string)ViewBag.dept;
    //var ecours = (string)ViewBag.cours;
    //var deptID = (int)ViewBag.dptID;
    //var ecourseID = (int)ViewBag.courseID;
    //var eClgID = (int)ViewBag.clgID;
    //var eGuid = (string)ViewBag.Guid;
    var draftAppl = (TrusteeBO.DraftApplication)ViewBag.applicationDetails;
    var trusteeMember = (List<TrusteeBO.TrusteeMember>)ViewBag.trusteeMember;
    var lands = (List<LandInfoBO>)ViewBag.LandDetails;
}

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />*@

@*<link href="~/Content/select2/css/select2.css" rel="stylesheet" />*@
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style type="text/css">
    .dropify-wrapper {
        display: block;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        height: 138px;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 22px;
        color: #777;
        background-color: #FFF;
        background-image: none;
        text-align: center;
        border: 2px solid #E5E5E5;
        -webkit-transition: border-color .15s linear;
        transition: border-color .15s linear;
    }

    .applicationBtn {
        width: 20em;
        text-align: start;
        display: flex;
        align-items: center;
    }

    ul li {
        list-style: none;
        margin-bottom: 10px
    }

        ul li button i {
            font-size: 20px;
        }

    .table thead {
        background-color: #646d91 !important;
    }

        .table thead > tr > th {
            color: white
        }


    .fsc {
        background: #6441A5;
        background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
        background: linear-gradient(to left, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsc h4 {
            color: white !important;
        }

    .fsi {
        background: #6441A5;
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
        background: linear-gradient(to right, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsi h4 {
            color: white !important;
        }

    .fop {
        background: #B993D6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 12px;
    }

        .fop h4 {
            color: white !important;
        }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">NOC</li>
                    <li class="breadcrumb-item">Master</li>
                    <li class="breadcrumb-item active">Edit Application</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewBag.Title</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

<div class="card">
    <div class="card-header fsc" style="display: flex !important; align-items: baseline !important; place-content: space-between !important;">
        <h4 class="mt-0 header-title float-left">Edit Application</h4>
        <a href="@Url.Action("DraftApplication", "Trustee", new {applGUID=@draftAppl.ApplGuid})" class="btn btn-sm btn-gradient-dark"><i class="fa fa-arrow-left"></i> Back To Draft</a>
    </div>
    <div class="card-body ">
        <div class="row">
            <table class="table table-bordered table-striped">
                <tr>
                    <th style="color:black!important;font-weight:500">Application Number :</th>
                    <td>@draftAppl.ApplicationNumber</td>
                    <th hidden style="color:black!important;font-weight:500">Trust Name</th>
                    <td hidden>@draftAppl.TrustName</td>
                    <th style="color:black!important;font-weight:500">Department Name</th>
                    <td>@draftAppl.DepartmentName</td>
                </tr>
                <tr><td colspan="6" style="background: #bdbdbd;color:black"><i class="fa fa-users"></i>  Trust Comitee Members</td></tr>
                <tr>
                    <td colspan="6">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr><th>Member Name</th><th>Is Primary</th></tr>
                            </thead>
                            <tbody>
                                @{
                                    if (trusteeMember != null)
                                    {

                                        foreach (var item in trusteeMember)
                                        {
                                            <tr><td>@item.sPrsnName</td><td>@((string.IsNullOrEmpty(item.iisprimary) || item.iisprimary=="0")?"No":"Yes" )</td></tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <th style="color:black!important;font-weight:500">College Name :</th>
                    <td>@draftAppl.CollegeName</td>
                    <td colspan="2"></td>
                    <th style="color:black!important;font-weight:500">Course</th>
                    <td>@draftAppl.CourseName</td>
                </tr>
                <tr><td colspan="6" style="background: #bdbdbd;color:black"><div style="display: flex;place-content: space-between;align-items:baseline"><span><i class="fa fa-arrow-down"></i> Application Forms</span><a href="@Url.Action("ApplicationPreview","Trustee",new {applGUID=draftAppl.ApplGuid})" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> Preview My Application</a></div></td></tr>
                @*<tr>
                        <td colspan="4">
                            <table class="table table-striped">
                                <tr><td> <a href="@Url.Action("Index", "LandBuildingInfo")" target="_blank"><i class="fa fa-plus"></i> Add Land and Building Information</a></td></tr>
                                <tr><td><a href="@Url.Action("CreateData","SubjectMaster")" target="_blank"><i class="fa fa-plus"></i> Add Subject Covered</a> </td></tr>
                                <tr><td><a href="@Url.Action("Index","FeeDetails")" target="_blank"><i class="fa fa-plus"></i> Add College Fee Structure</a></td></tr>
                                <tr><td><button onclick="GenerateArchtable('sdfd')"><i class="fa fa-plus"></i> Add Architectrual Details</button></td></tr>
                                <tr><td><a href="@Url.Action("CollageFacilitys","Trustee")" target="_blank"><i class="fa fa-plus"></i> Add Other Facilites</a></td></tr>
                                <tr><td><a href="@Url.Action("Index","Staff")" target="_blank"><i class="fa fa-plus"></i> Add Staff Details</a></td></tr>
                                <tr><td><a href="@Url.Action("Index","AcdmcMst")" target="_blank"><i class="fa fa-plus"></i> Add Acadmy Information</a></td></tr>
                                <tr><td><a href="@Url.Action("CollageAttachment","Trustee")" target="_blank"><i class="fa fa-plus"></i> Add Proof Document</a></td></tr>
                            </table>
                        </td>
                    </tr>*@
            </table>
            <div class="col-lg-12">
                <div class="row">

                    <div class="col-lg-3">
                        <ul style="margin-left: -50px;">
                            <li><button class="btn btn-outline-primary waves-effect waves-light applicationBtn" data-id="@Url.Action("Index", "LandBuildingInfo", new {guid=draftAppl.ApplGuid})"><i class="fa fa-landmark"></i> &nbsp;Land & Building Information</button></li>
                            <li><button class="btn btn-outline-primary waves-effect waves-light applicationBtn" data-id="@Url.Action("CreateData", "SubjectMaster", new {guid=draftAppl.ApplGuid})"><i class="fa fa-address-book"></i> &nbsp;Subject Covered</button></li>
                            <li><button class="btn btn-outline-primary waves-effect waves-light applicationBtn" data-id="@Url.Action("Index", "FeeDetails", new {guid=draftAppl.ApplGuid})"><i class="fa fa-file-contract"></i> &nbsp;College Fee Structure</button></li>
                            <li><button class="btn btn-outline-primary waves-effect waves-light applicationBtn" data-id="@Url.Action("NewArchitectureDetail", "Master", new {guid=draftAppl.ApplGuid})"><i class="fa fa-building"></i> &nbsp;Architectrual Details</button></li>
                            <li><button class="btn btn-outline-primary waves-effect waves-light applicationBtn" data-id="@Url.Action("CollageFacilitys", "Trustee", new {guid=draftAppl.ApplGuid})"><i class="fa fa-smile"></i> &nbsp;Other Facilites</button></li>
                            <li><button class="btn btn-outline-primary waves-effect waves-light applicationBtn" data-id="@Url.Action("Index", "Staff", new {guid=draftAppl.ApplGuid})"><i class="fa fa-users"></i> &nbsp;Staff Details</button></li>
                            <li><button class="btn btn-outline-primary waves-effect waves-light applicationBtn" data-id="@Url.Action("Index", "AcdmcMst", new {guid=draftAppl.ApplGuid})"><i class="fa fa-school"></i> &nbsp;Acadmy Information</button></li>
                            <li><button class="btn btn-outline-primary waves-effect waves-light applicationBtn" data-id="@Url.Action("CollageAttachment", "Trustee", new {guid=draftAppl.ApplGuid})"><i class="fa fa-address-card"></i> &nbsp;Proof Document</button></li>
                            <li><button class="btn btn-outline-primary waves-effect waves-light applicationBtn" data-toggle="modal" data-target=".bd-example-modal-xl" id="openModal"><i class="fa fa-paper-plane"></i> &nbsp;Submit Your Application</button></li>
                        </ul>

                    </div>

                    <div class="col-lg-9" id="divFormContainer1" style="place-content: center;display: flex;align-items: center;">
                        <div id="divFormContainer">

                        </div>
                        <p style="font-size: 30px;color: red;" id="pNote">
                            @*Please Select Any Form from the left side to fill*@
                            <img src="~/Content/LoginSignUp/img/NOC Process flow.jpeg" />
                        </p>
                        <div id="divLoader" style="display:none"><span><i class="fa fa-4x fa-circle-notch fa-spin fa-fade" style="color: #506ee4;"></i></span></div>
                    </div>
                </div>
            </div>



            <div class="modal fade bd-example-modal-xl" id="appSummary" tabindex="-1" role="dialog" aria-labelledby="appSummary" data-backdrop="static" style="display:none;">
                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="appSummary">Application Summary</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="padding: 20px !important;">
                            <p style="font-size: 15px;font-weight: 500;color: black;">Your Application is processed for following selection : </p>
                            <table class="table table-bordered" id="tblsummery" style="font-size: 15px;text-align: justify;font-family: sans-serif;">
                                <tr><th>Trust</th><td><span id="spnTrust">@draftAppl.TrustName</span></td><th>College</th><td><span id="spnCollege">@draftAppl.CollegeName</span></td></tr>
                                <tr><th>Degree</th><td><span id="spnDegree">@draftAppl.DepartmentName</span></td><th>Course</th><td><span id="spnCourse">@draftAppl.CourseName</span></td></tr>
                                <tr><th>District</th><td>NA</td><th>College Type</th><td>@draftAppl.clgTypeName</td></tr>
                                <tr><th>SSO</th><td>NA</td><th>Username</th><td>NA</td></tr>
                            </table>

                            <p>Land & Building Information</p>
                            <table class="table table-bordered" style="font-size: 15px;text-align: justify;font-family: sans-serif;">
                                <thead>
                                    <tr>
                                        <th>Land Area</th>
                                        <th>Land Doc Type</th>
                                        <th>Is Land Converted</th>
                                        <th>Order No</th>
                                        <th>Order Date</th>
                                        <th>Land Type</th>
                                        <th>Khasara No</th>
                                        <th>Land Area</th>
                                        <th hidden>Total Area</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{

                                        foreach (var item in lands)
                                        {
                                            <tr>
                                                <td>@item.sLndArea</td>
                                                <td>@item.sLndDocType</td>
                                                <td>@item.sIsLndCnvrted</td>
                                                <td>@item.sOrdrNo</td>
                                                <td>@item.dtOrdrDate</td>
                                                <td>@item.sLndTyp</td>
                                                <td>@item.sKhasaraNo</td>
                                                <td>@item.dLndArea</td>
                                                <td hidden>@item.dTotalArea</td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                            <div style="display: flex;gap: 10px; align-items: baseline;">

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="customCheck1" name="customCheck" class="custom-control-input">
                                    @*<label class="custom-control-label" for="customCheck1" style="font-weight: 600;font-size: 14px;">All Above Mention information is correct I would Like to continue for application</label>*@
                                <label class="custom-control-label" for="customCheck1" style="font-weight: 600;font-size: 14px;">All Above Mention information is correct I would Like to submit my application</label>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" style="display:none" id="btnClose"></button>
                            <button type="button" class="btn btn-primary" onclick="SaveDetails();">Submit</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
@section scripts {
    <script src="~/plugins/dropify/js/dropify.min.js"></script>
    <script src="~/scripts/pages/jquery.form-upload.init.js"></script>
    @*<script src="~/Content/select2/js/select2.js"></script>*@
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnToggal').click();

        $('.applicationBtn').click(function () {
            $('#divFormContainer').html('');
            $('#divFormContainer1').css('place-content', 'center').css('display', 'flex').css('align-items', 'center')
            $('#divLoader').css('display', 'block');
            $('#pNote').css('display', 'none');
            //$(this).removeClass('btn-outline-primary').addClass('btn-primary');
            $(this).css('background-color', '#ffbf68').css('color', 'black');
            $(this).css('border-bottom-right-radius', '33px');

            var url = $(this).data('id');

            //console.log(url);
            setTimeout(function () {

                GenerateArchtable(url);
            }, 1000);
            /* $('#divLoader').css('display', 'none');*/
        });
    });

    function GenerateArchtable(url) {

        $.ajax({
            url: GetglobalDomain() + url,
            type: 'GET',
            dataType: "text",
            success: function (response) {
                //$('#divFormContainer').html('');
                $('#divFormContainer1').removeAttr("style");
                $('#divFormContainer').html(response);
                $('#divLoader').css('display', 'none');

                return;
                /*  $("#AddSection").html(response);*/
            }
        });
        return false;
    }
</script>