@using NewZapures_V2.Models
@{
    ViewBag.Title = "Edit Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />



<style type="text/css">
    .dropify-wrapper {
        display: block;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        height: 138px;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 22px;
        color: #777;
        background-color: #FFF;
        background-image: none;
        text-align: center;
        border: 2px solid #E5E5E5;
        -webkit-transition: border-color .15s linear;
        transition: border-color .15s linear;
    }

    .table thead {
        background-color: #646d91 !important;
    }

        .table thead > tr > th {
            color: white
        }


    .fsc {
        background: #6441A5;
        background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
        background: linear-gradient(to left, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsc h4 {
            color: white !important;
        }

    .fsi {
        background: #6441A5;
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
        background: linear-gradient(to right, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsi h4 {
            color: white !important;
        }

    .fop {
        background: #B993D6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 12px;
    }

        .fop h4 {
            color: white !important;
        }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">NOC</li>
                    <li class="breadcrumb-item">Master</li>
                    <li class="breadcrumb-item active">Edit Application</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewBag.Title</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

<div class="card">
    <div class="card-header fsc">
        <h4 class="mt-0 header-title float-left">Edit Application Details</h4>
    </div>
    <div class="card-body ">
        @*<div class="col-lg-12">
            <table class="table table-bordered">
                <tr>
                    <td>Application Number :</td><td>{Application Number}</td><td>Trust Name</td><td>{Application Number}</td>
                </tr>
                
                <tr>
                    <td>College Name :</td><td>{College Name}</td><td rowspan="2">Trustee Members</td><td>{Application Number}</td>
                </tr>



            </table>
        </div>*@


        <div class="col-12">
            <div class="col-2">Application Number : </div>
            <div class="col-2">Trust Name : </div>
            <div class="col-2">Trustee Members <span><table class="table table-bordered"><tr><th>Member Name</th><th>Isprimary</th></tr><tr><td>Test</td><td>yes</td></tr></table></span> </div>
            <div class="col-2">College Name :</div>
            <div class="col-2">Course :</div>
            <div class="col-7">Forms
            <br/>

            <ul>
                <li><a href="@Url.Action("Index","LandBuildingInfo")">Add Land and Building Information</a> </li>
                <li><a href="@Url.Action("CreateData","SubjectMaster")">Add Subject Covered</a> </li>
                <li><a href="@Url.Action("Index","FeeDetails")">Add College Fee Structure</a></li>
                <li><a href="@Url.Action("ArchitectureDetail","Master")">Add Architectrual Details</a> </li>
                <li><a href="@Url.Action("CollageFacilitys","Trustee")">Add Other Facilites</a></li>
                <li><a href="@Url.Action("Index","Staff")">Add Staff Details</a></li>
                <li><a href="@Url.Action("Index","AcdmcMst")">Add Acadmy Information</a></li>
                @*<li><a href="#">Add Proof Document</a></li>*@
                <li><a href="@Url.Action("ApplicationPreview","Trustee")">Application Preview</a></li>
            </ul>
            
            
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/plugins/dropify/js/dropify.min.js"></script>
    <script src="~/scripts/pages/jquery.form-upload.init.js"></script>
}