@using NewZapures_V2.Models
@{
    ViewBag.Title = "General Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TrusteeBO.TrusteeInfo TrustDetails = ViewBag.TrustDetails as TrusteeBO.TrusteeInfo;
    List<CustomMaster> TrusteeType = new List<CustomMaster>();
    if (ViewBag.TrusteeType != null)
    {
        TrusteeType = (List<CustomMaster>)ViewBag.TrusteeType;
    }
}
<style>
    .fsc {
        background: #6441A5;
        background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
        background: linear-gradient(to left, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsc h4 {
            color: white !important;
        }

    .custom-file-button input[type=file] {
        margin-left: -2px !important;
    }

        .custom-file-button input[type=file]::-webkit-file-upload-button {
            display: none;
        }

        .custom-file-button input[type=file]::file-selector-button {
            display: none;
        }

    .custom-file-button:hover label {
        background-color: #dde0e3;
        cursor: pointer;
    }
</style>
@section styles {
    <link href="~/plugins/dropify/css/dropify.min.css" rel="stylesheet">
}
<style type="text/css">
    .dropify-wrapper {
        display: block;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        height: 138px;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 22px;
        color: #777;
        background-color: #FFF;
        background-image: none;
        text-align: center;
        border: 2px solid #E5E5E5;
        -webkit-transition: border-color .15s linear;
        transition: border-color .15s linear;
    }

    .table thead {
        background-color: #646d91 !important;
    }

    .table th {
        color: #ffffff !important;
    }

    .fsc {
        background: #6441A5;
        background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
        background: linear-gradient(to left, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsc h4 {
            color: white !important;
        }

    .fsi {
        background: #6441A5;
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
        background: linear-gradient(to right, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsi h4 {
            color: white !important;
        }

    .fop {
        background: #B993D6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 12px;
    }

        .fop h4 {
            color: white !important;
        }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">NOC</li>
                    <li class="breadcrumb-item">Master</li>
                    <li class="breadcrumb-item active">Trustee General Information</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewBag.Title</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

<div class="card">
    <div class="card-header fsc">
        <h4 class="mt-0 header-title float-left">Trustee General Information</h4>
    </div>
    @using (Html.BeginForm("TrusteeGeneralInfo", "Trustee", FormMethod.Post, new { id = "Trusteeform", enctype = "multipart/form-data" }))
    {

        <div class="card-body">
            <div class="col-8">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Name of Trust</label>
                        <div>
                            <input class="form-control col-sm-12" type="text" autocomplete="off" id="txtname" name="Name" value="@TrustDetails.Name" readonly>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Trust Type</label>
                        <div>
                            <div>
                                <input class="form-control col-sm-12" type="text" autocomplete="off" id="txtname" name="Name" value="@TrustDetails.TrustType" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Registration Number</label>
                        <div>
                            <input class="form-control col-sm-12" type="text" autocomplete="off" id="txtname" name="Name" value="@TrustDetails.RegistrationNo" readonly>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">SSOID</label>
                        <div>
                            <div>
                                <input class="form-control col-sm-12" type="text" autocomplete="off" id="txtname" name="Name" value="@TrustDetails.SSOID" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">District</label>
                        <div>
                            <input class="form-control col-sm-12" type="text" autocomplete="off" id="txtname" name="Name" value="@TrustDetails.District" readonly>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Act</label>
                        <div>
                            <div>
                                <input class="form-control col-sm-12" type="text" autocomplete="off" id="txtname" name="Name" value="@TrustDetails.Act" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Status</label>
                        <div>
                            <input class="form-control col-sm-12" type="text" autocomplete="off" id="txtname" name="Name" value="@TrustDetails.Status" readonly>
                        </div>
                    </div>
                    <div class="form-group col-lg-6" id="filediv">
                        <div class="col-lg-8">
                            <label for="file2">Trustee Member Proof</label>
                            <div>
                                <div class="input-group custom-file-button">
                                    <input type="file" class="form-control" id="TMProfffile" name="TMProfffile">
                                    <label class="input-group-text" for="affidavit">Choose file</label>
                                </div>

                            </div>
                        </div>
                        <div class="Col-lg-2" style="margin-top:-36px;float:right">
                            <a href="@Url.Action("DownloadDocuments", "Trustee", new { id = TrustDetails.TRMP })" target="_blank" alt="Red dot"><i class="btn btn-primary btn-lg fa fa-download" style="padding-right:10px">Download</i></a>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="form-group col-lg-6">
                            <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Registered In</label>
                            <div>
                                <input class="form-control col-sm-12" type="text" autocomplete="off" id="txtCerifiedby" name="CertiFiedBy" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-6" id="filediv">
                            <label for="file1">Ceritified By Proof</label>
                            <input type="file" id="filecerifiedby" style="border: 0px solid #e8ebf3" name="Ceritifiedbyfile" data-input="true" data-buttonname="btn btn-info" data-iconname="fa fa-upload mr" class="form-control filestyle" required />
                            <span id="Ceritifiedbyfile"></span>
                        </div>
                    </div>*@

                @*<div class="row">
                        <div class="form-group col-lg-6">
                            <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Registration No</label>
                            <div>
                                <input class="form-control col-sm-12" type="text" autocomplete="off" id="txtRegistrationNo" name="RegistrationNo" maxlength="50" value="RAJ1234KRI" required>
                            </div>
                        </div>
                        <div class="form-group col-lg-6" id="filediv">
                            <label for="file2">Registration No Proof</label>
                            <input type="file" id="fileregistrationno" style="border: 0px solid #e8ebf3" name="registrationnofile" data-input="true" data-buttonname="btn btn-info" data-iconname="fa fa-upload mr" class="form-control filestyle" required />
                            <span id="registrationnofile"></span>
                        </div>
                    </div>*@

                <div class="row">

                    <div class="form-group col-lg-6">
                        <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Date Of Registration</label>

                        <div class="input-group">
                            <input type="text" class="form-control" name="RegistrationDate" id="RegistrationDate" placeholder="DD/MM/YYYY" autocomplete="off" required>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-6" id="filediv">
                        <div class="col-lg-8">
                            <label for="file2">Trust Logo</label>
                            <div>
                                <div class="input-group custom-file-button">
                                    <input type="file" class="form-control" id="trustfile" name="trustfile">
                                    <label class="input-group-text" for="affidavit">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="Col-lg-2" style="margin-top:-36px;float:right">
                            <a href="@Url.Action("DownloadDocuments", "Trustee", new { id = TrustDetails.TrusteeLogo })" target="_blank" alt="Red dot"><i class="btn btn-primary btn-lg fa fa-download" style="padding-right:10px">Download</i></a>
                        </div>
                    </div>

                </div>
            </div>
            @*<div class="col-3 text-center d-flex align-items-center justify-content-center">
                    <div class="">
                        <h4 class="mt-0 header-title">Trust Logo</h4>
                        <input type="file" id="input-file-now" class="dropify" name="trustfile" />
                    </div>
                </div>*@
            <div class="col-9"style="margin-bottom:40px">
                <div class="col-lg-12 flot-right">
                    <button class="btn btn-primary waves-effect waves-light" style="float:right" id="btnCapitalAdd">Save</button>
                </div>
            </div>
        </div>
        <div class="row col-lg-12">
            <div class="form-group col-lg-12">
                <table class="table table-borderless table-striped table-hover" id="tblCapital">
                    <tr>
                        <th colspan="6">Trust Administrative Details</th>
                    </tr>
                    <thead class="dark">
                        <tr>
                            <th>SNo</th>
                            <th>Name</th>
                            <th>Post Name</th>
                            <th>Occupation</th>
                            <th>Address</th>
                            <th>Contact No</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (TrustDetails.AdminList != null)
                        {
                            int i = 1;
                            foreach (var item in TrustDetails.AdminList)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Name</td>
                                    <td>@item.PostName</td>
                                    <td>@item.Occupation</td>
                                    <td>@item.Address</td>
                                    <td>@item.ContactNo</td>
                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8" style="text-align: center;">No Data Available</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row col-lg-12" style="margin-top:20px">
            <div class="col-lg-12 loat-right">
                @*<div class="form-group col-lg-6" style="display: flex;align-items: end;">*@
                <a href="@Url.Action("Index","Trustee")" class="btn btn-primary" style="display: block; margin:5px; background-color: deeppink;float:right" id="Reset">Proceed To Add Commitee Member</a>
            </div>
            @*</div>*@
        </div>
    }
</div>

@section scripts {
    <script src="~/plugins/moment/moment.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/plugins/select2/select2.min.js"></script>
    <script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/plugins/timepicker/bootstrap-material-datetimepicker.js"></script>
    <script src="~/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>

    <script src="~/scripts/pages/jquery.forms-advanced.js"></script>
    <script src="~/plugins/dropify/js/dropify.min.js"></script>
    <script src="~/scripts/pages/jquery.form-upload.init.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#TrustType').select2();
            $("#RegistrationDate").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                //yearRange: new Date().getFullYear().toString() + ':' + new Date().getFullYear().toString(),
                //onClose: function (selectedDate) {
                //    $("#ToDate").datepicker("option", "minDate", selectedDate);
                //}
            });
            $("#ElectionDate").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                //yearRange: new Date().getFullYear().toString() + ':' + new Date().getFullYear().toString(),
                //onClose: function (selectedDate) {
                //    $("#ToDate").datepicker("option", "minDate", selectedDate);
                //}
            });
            //$("#ToDate").datepicker({
            //    dateFormat: 'dd/mm/yy',
            //    changeMonth: true,
            //    yearRange: new Date().getFullYear().toString() + ':' + new Date().getFullYear().toString(),
            //    onClose: function (selectedDate) {
            //        $("#FromDate").datepicker("option", "maxDate", selectedDate);
            //    }
            //});
        });
    </script>
}