@using NewZapures_V2.Models
@{
    Layout = null;
    ViewBag.Title = "Fee Details";
    Layout = null;
    NewZapures_V2.Models.TrusteeBO.CollageFeeMst FeeList = ViewBag.CollageFeeList as NewZapures_V2.Models.TrusteeBO.CollageFeeMst;

}
@*@section styles {

    <link href="~/plugins/dropify/css/dropify.min.css" rel="stylesheet">
}
<style type="text/css">
        .dropify-wrapper {
            display: block;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            width: 100%;
            max-width: 100%;
            height: 138px;
            padding: 5px 10px;
            font-size: 14px;
            line-height: 22px;
            color: #777;
            background-color: #FFF;
            background-image: none;
            text-align: center;
            border: 2px solid #E5E5E5;
            -webkit-transition: border-color .15s linear;
            transition: border-color .15s linear;
        }

        .table thead {
            background-color: #646d91 !important;
        }

        .table th {
            color: #ffffff !important;
        }

        .fsc {
            background: #6441A5;
            background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
            background: linear-gradient(to left, #506ee4, #5b3a96);
            border-radius: 12px;
        }

            .fsc h4 {
                color: white !important;
            }

        .fsi {
            background: #6441A5;
            background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
            background: linear-gradient(to right, #506ee4, #5b3a96);
            border-radius: 12px;
        }

            .fsi h4 {
                color: white !important;
            }

        .fop {
            background: #B993D6; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 12px;
        }

            .fop h4 {
                color: white !important;
            }
    </style>*@
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            @*<div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">NOC</li>
                    <li class="breadcrumb-item">Master</li>
                    <li class="breadcrumb-item active">Fee details</li>
                </ol>
            </div>*@
            <h4 class="page-title">@ViewBag.Title</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<div class="card">
    <div class="card-header fsc">
        <h4 class="mt-0 header-title float-left">Fee Details</h4>
        @*<div class="" style="text-align:right">
            <a href="@Url.Action("EditApplication","Trustee",new {Guid=SessionModel.ApplicantGuid })" style="font-size: 15px; color: white; font-family: 'Ubuntu', sans-serif; background-color: deeppink;" class="btn btn-warning btn btn btn-default">Back</a>
        </div>*@
    </div>   
    <div class="row col-lg-8" style="margin-top:12px">
        <div class="form-group col-lg-12">
            <input type="hidden" name="iFk_TrstId" id="iFk_TrstId" value="@ViewData["TrustId"]" />
            <input type="hidden" name="iFk_ClgId" id="iFk_ClgId" value="@ViewData["CollageId"]" />
            <input type="hidden" name="iFk_CourseId" id="iFk_CourseId" value="@ViewData["CourseId"]" />
            <table class="table table-bordered table-striped table-hover" id="tblFacility">
                <thead class="dark">
                    <tr>
                        <th hidden></th>
                        <th>Fees</th>
                        <th>
                            <label class="containercheckbox">
                                &nbsp;
                                <input type="checkbox" id="chkAll">
                                <span class="checkmark"></span>
                            </label>
                        </th>
                        <th>Rate</th>
                    </tr>
                </thead>
                <tbody>
                    @if (FeeList.rateLists != null)
                    {
                        int i = 1;
                        foreach (var item in FeeList.rateLists)
                        {
                    <tr>
                        @*<td>@i</td>*@
                        <td style="display:none">
                            @item.RateId
                        </td>

                        <td>
                            @item.RateName
                        </td>
                        <td>
                            @if (item.IsSelect == true)
                                    {
                            <label class="containercheckbox">
                                &nbsp;
                                <input type="checkbox" id="Select" name="IsSelect" class="chk" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                                    }
                                    else
                                    {
                            <label class="containercheckbox">
                                &nbsp;
                                <input type="checkbox" id="Select" name="IsSelect" class="chk">
                                <span class="checkmark"></span>
                            </label>
                                    }
                        </td>
                        <td>
                            <input type="text" id="Rate" name="Rate" class="form-control" value="@item.Rate" />
                        </td>
                    </tr>
                            i++;
                        }
                    }
                    else
                    {
                    <tr>
                        <td colspan="8" style="text-align: center;">No Data Available</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-12" style="margin-bottom:10px">
            <div class="">
                <button class="btn btn-primary" id="btnSave" style="float:right"> Save</button>
                <a href="@Url.Action("EditApplication","Trustee")" class="btn btn-primary" style="display: block; margin-right: 5px; background-color: deeppink;float:right" id="Reset">Back</a>
                @*</div>*@
            </div>
        </div>
        @*<div class="row col-lg-12" style="margin-top:20px">
            <div class="col-lg-12 loat-right">
                <button class="btn btn-primary" id="btnSave">Submit</button>
            </div>
        </div>*@
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#chkAll').click(function () {
            $('.chk').prop('checked', this.checked)
        });

        function GenerateArc(url) {

            $.ajax({
                url: GetglobalDomain() + url,
                type: 'GET',
                dataType: "text",
                success: function (response) {
                    //$('#divFormContainer').html('');
                    $('#divFormContainer1').removeAttr("style");
                    $('#divFormContainer').html(response);
                    $('#divLoader').css('display', 'none');
                    return;
                    /*  $("#AddSection").html(response);*/
                }
            });
            return false;
        }

        $("#btnSave").click(function () {
            var tableData = new Array();
            debugger;
            var TrustId = $('#iFk_TrstId').val();
            var CourseId = $('#iFk_CourseId').val();
            var CollageId = $('#iFk_ClgId').val();
            $("#tblFacility tbody TR").each(function () {
                var row_data = $(this);
                var Idget = row_data.find("td").eq(0).html().trim();
                var RateName = row_data.find("td").eq(1).html().trim();
                var Rate = $(this).find('#Rate').val();
                var rated = parseFloat(Rate);
                var select = false;
                if ($(this).find('#Select').is(":checked")) {
                    select = true;
                }
                debugger;
                var getdata = { RateId: Idget, IsSelect: select, RateName: RateName, Rate: rated }
                tableData.push(getdata);
            });

            var modal = {
                TrustId: TrustId,
                CourseId: CourseId,
                CollageId: CollageId,
                rateLists: tableData
            }

            $.ajax({
                type: "POST",
                url: GetglobalDomain() + "/FeeDetails/SaveCollageFee",
                data: modal,
                success: function (data) {
                    if (data.failure) {
                        Swal.fire({
                            title: 'Data saved sussessfully!',
                            showDenyButton: false,
                            showCancelButton: false,
                            confirmButtonText: 'Save',
                            denyButtonText: `Don't save`,
                        }).then((result) => {
                            /* Read more about isConfirmed, isDenied below */
                            if (result.isConfirmed) {
                                var url = "/FeeDetails/Index";
                                GenerateArc(url);
                                //window.location.href = url;
                            }
                        })
                       
                        
                    }
                    else {
                        Swal.fire(
                            'error',
                            'Failed',
                            'Data not Saved'
                        )
                    }
                }
            });
        });
    });
</script>

